body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1470px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u3824 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3825_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1291px;
  height:61px;
}
#u3825 {
  position:absolute;
  left:180px;
  top:50px;
  width:1290px;
  height:60px;
}
#u3826 {
  position:absolute;
  left:2px;
  top:22px;
  width:1286px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3827 {
  position:absolute;
  left:179px;
  top:50px;
  width:2px;
  height:801px;
  overflow:hidden;
}
#u3827_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:801px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-color:rgba(228, 228, 228, 1);
  background-image:none;
}
#u3827_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u3828_img {
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:1032px;
}
#u3828 {
  position:absolute;
  left:0px;
  top:49px;
  width:180px;
  height:1031px;
}
#u3829 {
  position:absolute;
  left:2px;
  top:508px;
  width:176px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3830 {
  position:absolute;
  left:0px;
  top:0px;
  width:1471px;
  height:51px;
  overflow:hidden;
}
#u3830_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:1471px;
  height:51px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-color:rgba(70, 76, 91, 0.898039215686275);
  background-image:none;
}
#u3830_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u3830_state1 {
  position:absolute;
  left:0px;
  top:0px;
  width:1471px;
  height:51px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-color:rgba(52, 152, 219, 1);
  background-image:none;
}
#u3830_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u3830_state2 {
  position:absolute;
  left:0px;
  top:0px;
  width:1471px;
  height:51px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-color:rgba(237, 110, 77, 1);
  background-image:none;
}
#u3830_state2_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u3830_state3 {
  position:absolute;
  left:0px;
  top:0px;
  width:1471px;
  height:51px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-color:rgba(250, 187, 61, 1);
  background-image:none;
}
#u3830_state3_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u3830_state4 {
  position:absolute;
  left:0px;
  top:0px;
  width:1471px;
  height:51px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-color:rgba(170, 122, 179, 1);
  background-image:none;
}
#u3830_state4_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u3830_state5 {
  position:absolute;
  left:0px;
  top:0px;
  width:1471px;
  height:51px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-color:rgba(154, 208, 185, 1);
  background-image:none;
}
#u3830_state5_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u3830_state6 {
  position:absolute;
  left:0px;
  top:0px;
  width:1471px;
  height:51px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-color:rgba(234, 148, 190, 1);
  background-image:none;
}
#u3830_state6_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u3830_state7 {
  position:absolute;
  left:0px;
  top:0px;
  width:1471px;
  height:51px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-color:rgba(193, 55, 74, 1);
  background-image:none;
}
#u3830_state7_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u3831 {
  position:absolute;
  left:0px;
  top:48px;
  width:1367px;
  height:3px;
  overflow:hidden;
}
#u3831_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:1367px;
  height:3px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-color:rgba(0, 0, 0, 0.2);
  background-image:none;
}
#u3831_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u3832_img {
  position:absolute;
  left:0px;
  top:0px;
  width:162px;
  height:49px;
}
#u3832 {
  position:absolute;
  left:18px;
  top:0px;
  width:161px;
  height:48px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
  text-align:left;
  line-height:28px;
}
#u3832_img.selected {
}
#u3832.selected {
}
#u3833 {
  position:absolute;
  left:0px;
  top:10px;
  width:161px;
  word-wrap:break-word;
}
#u3834 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3835_img {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:31px;
}
#u3835 {
  position:absolute;
  left:10px;
  top:66px;
  width:160px;
  height:30px;
  font-size:12px;
  color:#999999;
  text-align:left;
}
#u3836 {
  position:absolute;
  left:30px;
  top:8px;
  width:130px;
  word-wrap:break-word;
}
#u3837_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u3837 {
  position:absolute;
  left:18px;
  top:74px;
  width:14px;
  height:14px;
  font-size:12px;
  color:#666666;
}
#u3837_img.mouseOver {
}
#u3837.mouseOver {
}
#u3838 {
  position:absolute;
  left:2px;
  top:-1px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3839 {
  position:absolute;
  left:179px;
  top:109px;
  width:1292px;
  height:2px;
  overflow:hidden;
}
#u3839_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:1292px;
  height:2px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-color:rgba(228, 228, 228, 1);
  background-image:none;
}
#u3839_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u3840_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:903px;
}
#u3840 {
  position:absolute;
  left:179px;
  top:50px;
  width:1px;
  height:902px;
}
#u3841 {
  position:absolute;
  left:2px;
  top:443px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3842 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3843_img {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:50px;
}
#u3843 {
  position:absolute;
  left:452px;
  top:0px;
  width:88px;
  height:49px;
  font-family:'微软雅黑';
  font-weight:407;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u3843_img.mouseOver {
}
#u3843.mouseOver {
}
#u3843_img.selected {
}
#u3843.selected {
}
#u3844 {
  position:absolute;
  left:2px;
  top:16px;
  width:84px;
  word-wrap:break-word;
}
#u3845_img {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:50px;
}
#u3845 {
  position:absolute;
  left:364px;
  top:0px;
  width:88px;
  height:49px;
  font-family:'微软雅黑';
  font-weight:407;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u3845_img.mouseOver {
}
#u3845.mouseOver {
}
#u3845_img.selected {
}
#u3845.selected {
}
#u3846 {
  position:absolute;
  left:2px;
  top:16px;
  width:84px;
  word-wrap:break-word;
}
#u3847_img {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:50px;
}
#u3847 {
  position:absolute;
  left:277px;
  top:0px;
  width:88px;
  height:49px;
  font-family:'微软雅黑';
  font-weight:407;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u3847_img.mouseOver {
}
#u3847.mouseOver {
}
#u3847_img.selected {
}
#u3847.selected {
}
#u3848 {
  position:absolute;
  left:2px;
  top:16px;
  width:84px;
  word-wrap:break-word;
}
#u3849 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3850_img {
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:43px;
}
#u3850 {
  position:absolute;
  left:-1px;
  top:122px;
  width:180px;
  height:42px;
  color:#353535;
  text-align:left;
}
#u3850_img.mouseOver {
}
#u3850.mouseOver {
}
#u3850_img.selected {
}
#u3850.selected {
}
#u3851 {
  position:absolute;
  left:48px;
  top:14px;
  width:132px;
  word-wrap:break-word;
}
#u3852_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:15px;
}
#u3852 {
  position:absolute;
  left:17px;
  top:137px;
  width:9px;
  height:14px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u3852_img.mouseOver {
}
#u3852.mouseOver {
}
#u3852_img.selected {
}
#u3852.selected {
}
#u3853 {
  position:absolute;
  left:2px;
  top:-1px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3854 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3855_img {
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:43px;
}
#u3855 {
  position:absolute;
  left:0px;
  top:206px;
  width:180px;
  height:42px;
  color:#353535;
  text-align:left;
}
#u3855_img.mouseOver {
}
#u3855.mouseOver {
}
#u3855_img.selected {
}
#u3855.selected {
}
#u3856 {
  position:absolute;
  left:48px;
  top:14px;
  width:132px;
  word-wrap:break-word;
}
#u3857_img {
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  height:9px;
}
#u3857 {
  position:absolute;
  left:159px;
  top:225px;
  width:10px;
  height:8px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u3858 {
  position:absolute;
  left:2px;
  top:-4px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3859_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:15px;
}
#u3859 {
  position:absolute;
  left:18px;
  top:221px;
  width:9px;
  height:14px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u3859_img.mouseOver {
}
#u3859.mouseOver {
}
#u3859_img.selected {
}
#u3859.selected {
}
#u3860 {
  position:absolute;
  left:2px;
  top:-1px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3861_img {
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:43px;
}
#u3861 {
  position:absolute;
  left:0px;
  top:250px;
  width:180px;
  height:42px;
  color:#353535;
  text-align:left;
}
#u3861_img.mouseOver {
}
#u3861.mouseOver {
}
#u3861_img.selected {
}
#u3861.selected {
}
#u3862 {
  position:absolute;
  left:48px;
  top:14px;
  width:132px;
  word-wrap:break-word;
}
#u3863_img {
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:43px;
}
#u3863 {
  position:absolute;
  left:0px;
  top:291px;
  width:180px;
  height:42px;
  color:#353535;
  text-align:left;
}
#u3863_img.mouseOver {
}
#u3863.mouseOver {
}
#u3863_img.selected {
}
#u3863.selected {
}
#u3864 {
  position:absolute;
  left:48px;
  top:14px;
  width:132px;
  word-wrap:break-word;
}
#u3865_img {
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  height:9px;
}
#u3865 {
  position:absolute;
  left:160px;
  top:139px;
  width:10px;
  height:8px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u3866 {
  position:absolute;
  left:2px;
  top:-4px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3867 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3868_img {
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:43px;
}
#u3868 {
  position:absolute;
  left:0px;
  top:335px;
  width:180px;
  height:42px;
  color:#353535;
  text-align:left;
}
#u3868_img.mouseOver {
}
#u3868.mouseOver {
}
#u3868_img.selected {
}
#u3868.selected {
}
#u3869 {
  position:absolute;
  left:48px;
  top:14px;
  width:132px;
  word-wrap:break-word;
}
#u3870_img {
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  height:9px;
}
#u3870 {
  position:absolute;
  left:159px;
  top:354px;
  width:10px;
  height:8px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u3871 {
  position:absolute;
  left:2px;
  top:-4px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3872_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:15px;
}
#u3872 {
  position:absolute;
  left:18px;
  top:350px;
  width:9px;
  height:14px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u3872_img.mouseOver {
}
#u3872.mouseOver {
}
#u3872_img.selected {
}
#u3872.selected {
}
#u3873 {
  position:absolute;
  left:2px;
  top:-1px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3874_img {
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:43px;
}
#u3874 {
  position:absolute;
  left:0px;
  top:379px;
  width:180px;
  height:42px;
  color:#353535;
  text-align:left;
}
#u3874_img.mouseOver {
}
#u3874.mouseOver {
}
#u3874_img.selected {
}
#u3874.selected {
}
#u3875 {
  position:absolute;
  left:48px;
  top:14px;
  width:132px;
  word-wrap:break-word;
}
#u3876_img {
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:43px;
}
#u3876 {
  position:absolute;
  left:0px;
  top:420px;
  width:180px;
  height:42px;
  color:#353535;
  text-align:left;
}
#u3876_img.mouseOver {
}
#u3876.mouseOver {
}
#u3876_img.selected {
}
#u3876.selected {
}
#u3877 {
  position:absolute;
  left:48px;
  top:14px;
  width:132px;
  word-wrap:break-word;
}
#u3878_img {
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:43px;
}
#u3878 {
  position:absolute;
  left:0px;
  top:164px;
  width:180px;
  height:42px;
  color:#353535;
  text-align:left;
}
#u3878_img.mouseOver {
}
#u3878.mouseOver {
}
#u3878_img.selected {
}
#u3878.selected {
}
#u3879 {
  position:absolute;
  left:48px;
  top:14px;
  width:132px;
  word-wrap:break-word;
}
#u3880_img {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:50px;
}
#u3880 {
  position:absolute;
  left:195px;
  top:-1px;
  width:88px;
  height:49px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#0033CC;
}
#u3880_img.mouseOver {
}
#u3880.mouseOver {
}
#u3880_img.selected {
}
#u3880.selected {
}
#u3881 {
  position:absolute;
  left:2px;
  top:16px;
  width:84px;
  word-wrap:break-word;
}
#u3882_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:17px;
}
#u3882 {
  position:absolute;
  left:1351px;
  top:17px;
  width:49px;
  height:16px;
  font-family:'微软雅黑';
  font-weight:407;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
  text-align:center;
}
#u3883 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u3884_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:193px;
  height:23px;
}
#u3884 {
  position:absolute;
  left:210px;
  top:70px;
  width:188px;
  height:18px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#999999;
  text-align:left;
}
#u3884_img.selected {
}
#u3884.selected {
}
#u3885 {
  position:absolute;
  left:10px;
  top:0px;
  width:176px;
  word-wrap:break-word;
}
#u3886_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1251px;
  height:51px;
}
#u3886 {
  position:absolute;
  left:221px;
  top:110px;
  width:1250px;
  height:50px;
  font-size:12px;
  color:#1ABC9C;
  text-align:left;
  line-height:28px;
}
#u3887 {
  position:absolute;
  left:20px;
  top:11px;
  width:1228px;
  word-wrap:break-word;
}
#u3888_img {
  position:absolute;
  left:0px;
  top:0px;
  width:199px;
  height:36px;
}
#u3888 {
  position:absolute;
  left:1249px;
  top:118px;
  width:198px;
  height:35px;
  font-family:'微软雅黑';
  font-weight:405;
  font-style:normal;
  font-size:14px;
  color:#BCBCBC;
  text-align:left;
}
#u3889 {
  position:absolute;
  left:10px;
  top:8px;
  width:186px;
  word-wrap:break-word;
}
#u3890 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3891_img {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:31px;
}
#u3891 {
  position:absolute;
  left:963px;
  top:120px;
  width:108px;
  height:30px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#CCCCCC;
  text-align:left;
}
#u3891_img.selected {
}
#u3891.selected {
}
#u3892 {
  position:absolute;
  left:10px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u3893_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:7px;
}
#u3893 {
  position:absolute;
  left:1051px;
  top:132px;
  width:11px;
  height:6px;
}
#u3894 {
  position:absolute;
  left:2px;
  top:-5px;
  width:7px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3895 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3896_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:31px;
}
#u3896 {
  position:absolute;
  left:1078px;
  top:120px;
  width:99px;
  height:30px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#CCCCCC;
  text-align:left;
}
#u3896_img.selected {
}
#u3896.selected {
}
#u3897 {
  position:absolute;
  left:10px;
  top:7px;
  width:87px;
  word-wrap:break-word;
}
#u3898_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:7px;
}
#u3898 {
  position:absolute;
  left:1157px;
  top:132px;
  width:11px;
  height:6px;
}
#u3899 {
  position:absolute;
  left:2px;
  top:-5px;
  width:7px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3900 {
  position:absolute;
  left:221px;
  top:160px;
  width:1254px;
  height:754px;
}
#u3901_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:46px;
}
#u3901 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:45px;
  font-family:'FontAwesome Regular', 'FontAwesome';
  font-weight:405;
  font-style:normal;
  font-size:16px;
  color:#999999;
  text-align:center;
}
#u3902 {
  position:absolute;
  left:2px;
  top:14px;
  width:53px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3903_img {
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  height:46px;
}
#u3903 {
  position:absolute;
  left:57px;
  top:0px;
  width:131px;
  height:45px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#666666;
  text-align:center;
}
#u3904 {
  position:absolute;
  left:2px;
  top:13px;
  width:127px;
  word-wrap:break-word;
}
#u3905_img {
  position:absolute;
  left:0px;
  top:0px;
  width:238px;
  height:46px;
}
#u3905 {
  position:absolute;
  left:188px;
  top:0px;
  width:237px;
  height:45px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#666666;
  text-align:center;
}
#u3906 {
  position:absolute;
  left:2px;
  top:13px;
  width:233px;
  word-wrap:break-word;
}
#u3907_img {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:46px;
}
#u3907 {
  position:absolute;
  left:425px;
  top:0px;
  width:375px;
  height:45px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#666666;
  text-align:center;
}
#u3908 {
  position:absolute;
  left:2px;
  top:13px;
  width:371px;
  word-wrap:break-word;
}
#u3909_img {
  position:absolute;
  left:0px;
  top:0px;
  width:450px;
  height:46px;
}
#u3909 {
  position:absolute;
  left:800px;
  top:0px;
  width:449px;
  height:45px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#666666;
  text-align:center;
}
#u3910 {
  position:absolute;
  left:2px;
  top:13px;
  width:445px;
  word-wrap:break-word;
}
#u3911_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:89px;
}
#u3911 {
  position:absolute;
  left:0px;
  top:45px;
  width:57px;
  height:88px;
  font-family:'FontAwesome Regular', 'FontAwesome';
  font-weight:405;
  font-style:normal;
  font-size:16px;
  color:#999999;
  text-align:center;
  line-height:28px;
}
#u3912 {
  position:absolute;
  left:2px;
  top:30px;
  width:53px;
  word-wrap:break-word;
}
#u3913_img {
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  height:89px;
}
#u3913 {
  position:absolute;
  left:57px;
  top:45px;
  width:131px;
  height:88px;
  font-family:'FontAwesome Regular', 'FontAwesome';
  font-weight:405;
  font-style:normal;
  font-size:62px;
  color:#CCCCCC;
  line-height:28px;
}
#u3914 {
  position:absolute;
  left:2px;
  top:36px;
  width:127px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3915_img {
  position:absolute;
  left:0px;
  top:0px;
  width:238px;
  height:89px;
}
#u3915 {
  position:absolute;
  left:188px;
  top:45px;
  width:237px;
  height:88px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  line-height:28px;
}
#u3916 {
  position:absolute;
  left:2px;
  top:30px;
  width:233px;
  word-wrap:break-word;
}
#u3917_img {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:89px;
}
#u3917 {
  position:absolute;
  left:425px;
  top:45px;
  width:375px;
  height:88px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
  line-height:28px;
}
#u3918 {
  position:absolute;
  left:2px;
  top:30px;
  width:371px;
  word-wrap:break-word;
}
#u3919_img {
  position:absolute;
  left:0px;
  top:0px;
  width:450px;
  height:89px;
}
#u3919 {
  position:absolute;
  left:800px;
  top:45px;
  width:449px;
  height:88px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  line-height:28px;
}
#u3920 {
  position:absolute;
  left:2px;
  top:30px;
  width:445px;
  word-wrap:break-word;
}
#u3921_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:89px;
}
#u3921 {
  position:absolute;
  left:0px;
  top:133px;
  width:57px;
  height:88px;
  font-family:'FontAwesome Regular', 'FontAwesome';
  font-weight:405;
  font-style:normal;
  font-size:16px;
  color:#999999;
  text-align:center;
  line-height:28px;
}
#u3922 {
  position:absolute;
  left:2px;
  top:30px;
  width:53px;
  word-wrap:break-word;
}
#u3923_img {
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  height:89px;
}
#u3923 {
  position:absolute;
  left:57px;
  top:133px;
  width:131px;
  height:88px;
  font-family:'FontAwesome Regular', 'FontAwesome';
  font-weight:405;
  font-style:normal;
  font-size:62px;
  color:#CCCCCC;
  line-height:28px;
}
#u3924 {
  position:absolute;
  left:2px;
  top:36px;
  width:127px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3925_img {
  position:absolute;
  left:0px;
  top:0px;
  width:238px;
  height:89px;
}
#u3925 {
  position:absolute;
  left:188px;
  top:133px;
  width:237px;
  height:88px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  line-height:28px;
}
#u3926 {
  position:absolute;
  left:2px;
  top:30px;
  width:233px;
  word-wrap:break-word;
}
#u3927_img {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:89px;
}
#u3927 {
  position:absolute;
  left:425px;
  top:133px;
  width:375px;
  height:88px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
  line-height:28px;
}
#u3928 {
  position:absolute;
  left:2px;
  top:30px;
  width:371px;
  word-wrap:break-word;
}
#u3929_img {
  position:absolute;
  left:0px;
  top:0px;
  width:450px;
  height:89px;
}
#u3929 {
  position:absolute;
  left:800px;
  top:133px;
  width:449px;
  height:88px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  line-height:28px;
}
#u3930 {
  position:absolute;
  left:2px;
  top:30px;
  width:445px;
  word-wrap:break-word;
}
#u3931_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:89px;
}
#u3931 {
  position:absolute;
  left:0px;
  top:221px;
  width:57px;
  height:88px;
  font-family:'FontAwesome Regular', 'FontAwesome';
  font-weight:405;
  font-style:normal;
  font-size:16px;
  color:#999999;
  text-align:center;
  line-height:28px;
}
#u3932 {
  position:absolute;
  left:2px;
  top:30px;
  width:53px;
  word-wrap:break-word;
}
#u3933_img {
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  height:89px;
}
#u3933 {
  position:absolute;
  left:57px;
  top:221px;
  width:131px;
  height:88px;
  font-family:'FontAwesome Regular', 'FontAwesome';
  font-weight:405;
  font-style:normal;
  font-size:62px;
  color:#CCCCCC;
  line-height:28px;
}
#u3934 {
  position:absolute;
  left:2px;
  top:36px;
  width:127px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3935_img {
  position:absolute;
  left:0px;
  top:0px;
  width:238px;
  height:89px;
}
#u3935 {
  position:absolute;
  left:188px;
  top:221px;
  width:237px;
  height:88px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  line-height:28px;
}
#u3936 {
  position:absolute;
  left:2px;
  top:30px;
  width:233px;
  word-wrap:break-word;
}
#u3937_img {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:89px;
}
#u3937 {
  position:absolute;
  left:425px;
  top:221px;
  width:375px;
  height:88px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
  line-height:28px;
}
#u3938 {
  position:absolute;
  left:2px;
  top:30px;
  width:371px;
  word-wrap:break-word;
}
#u3939_img {
  position:absolute;
  left:0px;
  top:0px;
  width:450px;
  height:89px;
}
#u3939 {
  position:absolute;
  left:800px;
  top:221px;
  width:449px;
  height:88px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  line-height:28px;
}
#u3940 {
  position:absolute;
  left:2px;
  top:30px;
  width:445px;
  word-wrap:break-word;
}
#u3941_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:89px;
}
#u3941 {
  position:absolute;
  left:0px;
  top:309px;
  width:57px;
  height:88px;
  font-family:'FontAwesome Regular', 'FontAwesome';
  font-weight:405;
  font-style:normal;
  font-size:16px;
  color:#999999;
  text-align:center;
  line-height:28px;
}
#u3942 {
  position:absolute;
  left:2px;
  top:30px;
  width:53px;
  word-wrap:break-word;
}
#u3943_img {
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  height:89px;
}
#u3943 {
  position:absolute;
  left:57px;
  top:309px;
  width:131px;
  height:88px;
  font-family:'FontAwesome Regular', 'FontAwesome';
  font-weight:405;
  font-style:normal;
  font-size:62px;
  color:#CCCCCC;
  line-height:28px;
}
#u3944 {
  position:absolute;
  left:2px;
  top:36px;
  width:127px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3945_img {
  position:absolute;
  left:0px;
  top:0px;
  width:238px;
  height:89px;
}
#u3945 {
  position:absolute;
  left:188px;
  top:309px;
  width:237px;
  height:88px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  line-height:28px;
}
#u3946 {
  position:absolute;
  left:2px;
  top:30px;
  width:233px;
  word-wrap:break-word;
}
#u3947_img {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:89px;
}
#u3947 {
  position:absolute;
  left:425px;
  top:309px;
  width:375px;
  height:88px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
  line-height:28px;
}
#u3948 {
  position:absolute;
  left:2px;
  top:30px;
  width:371px;
  word-wrap:break-word;
}
#u3949_img {
  position:absolute;
  left:0px;
  top:0px;
  width:450px;
  height:89px;
}
#u3949 {
  position:absolute;
  left:800px;
  top:309px;
  width:449px;
  height:88px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  line-height:28px;
}
#u3950 {
  position:absolute;
  left:2px;
  top:30px;
  width:445px;
  word-wrap:break-word;
}
#u3951_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:89px;
}
#u3951 {
  position:absolute;
  left:0px;
  top:397px;
  width:57px;
  height:88px;
  font-family:'FontAwesome Regular', 'FontAwesome';
  font-weight:405;
  font-style:normal;
  font-size:16px;
  color:#999999;
  text-align:center;
  line-height:28px;
}
#u3952 {
  position:absolute;
  left:2px;
  top:30px;
  width:53px;
  word-wrap:break-word;
}
#u3953_img {
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  height:89px;
}
#u3953 {
  position:absolute;
  left:57px;
  top:397px;
  width:131px;
  height:88px;
  font-family:'FontAwesome Regular', 'FontAwesome';
  font-weight:405;
  font-style:normal;
  font-size:62px;
  color:#CCCCCC;
  line-height:28px;
}
#u3954 {
  position:absolute;
  left:2px;
  top:36px;
  width:127px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3955_img {
  position:absolute;
  left:0px;
  top:0px;
  width:238px;
  height:89px;
}
#u3955 {
  position:absolute;
  left:188px;
  top:397px;
  width:237px;
  height:88px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  line-height:28px;
}
#u3956 {
  position:absolute;
  left:2px;
  top:30px;
  width:233px;
  word-wrap:break-word;
}
#u3957_img {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:89px;
}
#u3957 {
  position:absolute;
  left:425px;
  top:397px;
  width:375px;
  height:88px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
  line-height:28px;
}
#u3958 {
  position:absolute;
  left:2px;
  top:30px;
  width:371px;
  word-wrap:break-word;
}
#u3959_img {
  position:absolute;
  left:0px;
  top:0px;
  width:450px;
  height:89px;
}
#u3959 {
  position:absolute;
  left:800px;
  top:397px;
  width:449px;
  height:88px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  line-height:28px;
}
#u3960 {
  position:absolute;
  left:2px;
  top:30px;
  width:445px;
  word-wrap:break-word;
}
#u3961_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:89px;
}
#u3961 {
  position:absolute;
  left:0px;
  top:485px;
  width:57px;
  height:88px;
  font-family:'FontAwesome Regular', 'FontAwesome';
  font-weight:405;
  font-style:normal;
  font-size:16px;
  color:#999999;
  text-align:center;
  line-height:28px;
}
#u3962 {
  position:absolute;
  left:2px;
  top:30px;
  width:53px;
  word-wrap:break-word;
}
#u3963_img {
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  height:89px;
}
#u3963 {
  position:absolute;
  left:57px;
  top:485px;
  width:131px;
  height:88px;
  font-family:'FontAwesome Regular', 'FontAwesome';
  font-weight:405;
  font-style:normal;
  font-size:62px;
  color:#CCCCCC;
  line-height:28px;
}
#u3964 {
  position:absolute;
  left:2px;
  top:36px;
  width:127px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3965_img {
  position:absolute;
  left:0px;
  top:0px;
  width:238px;
  height:89px;
}
#u3965 {
  position:absolute;
  left:188px;
  top:485px;
  width:237px;
  height:88px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  line-height:28px;
}
#u3966 {
  position:absolute;
  left:2px;
  top:30px;
  width:233px;
  word-wrap:break-word;
}
#u3967_img {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:89px;
}
#u3967 {
  position:absolute;
  left:425px;
  top:485px;
  width:375px;
  height:88px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
  line-height:28px;
}
#u3968 {
  position:absolute;
  left:2px;
  top:30px;
  width:371px;
  word-wrap:break-word;
}
#u3969_img {
  position:absolute;
  left:0px;
  top:0px;
  width:450px;
  height:89px;
}
#u3969 {
  position:absolute;
  left:800px;
  top:485px;
  width:449px;
  height:88px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  line-height:28px;
}
#u3970 {
  position:absolute;
  left:2px;
  top:30px;
  width:445px;
  word-wrap:break-word;
}
#u3971_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:89px;
}
#u3971 {
  position:absolute;
  left:0px;
  top:573px;
  width:57px;
  height:88px;
  font-family:'FontAwesome Regular', 'FontAwesome';
  font-weight:405;
  font-style:normal;
  font-size:16px;
  color:#999999;
  text-align:center;
  line-height:28px;
}
#u3972 {
  position:absolute;
  left:2px;
  top:30px;
  width:53px;
  word-wrap:break-word;
}
#u3973_img {
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  height:89px;
}
#u3973 {
  position:absolute;
  left:57px;
  top:573px;
  width:131px;
  height:88px;
  font-family:'FontAwesome Regular', 'FontAwesome';
  font-weight:405;
  font-style:normal;
  font-size:62px;
  color:#CCCCCC;
  line-height:28px;
}
#u3974 {
  position:absolute;
  left:2px;
  top:36px;
  width:127px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3975_img {
  position:absolute;
  left:0px;
  top:0px;
  width:238px;
  height:89px;
}
#u3975 {
  position:absolute;
  left:188px;
  top:573px;
  width:237px;
  height:88px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  line-height:28px;
}
#u3976 {
  position:absolute;
  left:2px;
  top:30px;
  width:233px;
  word-wrap:break-word;
}
#u3977_img {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:89px;
}
#u3977 {
  position:absolute;
  left:425px;
  top:573px;
  width:375px;
  height:88px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
  line-height:28px;
}
#u3978 {
  position:absolute;
  left:2px;
  top:30px;
  width:371px;
  word-wrap:break-word;
}
#u3979_img {
  position:absolute;
  left:0px;
  top:0px;
  width:450px;
  height:89px;
}
#u3979 {
  position:absolute;
  left:800px;
  top:573px;
  width:449px;
  height:88px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  line-height:28px;
}
#u3980 {
  position:absolute;
  left:2px;
  top:30px;
  width:445px;
  word-wrap:break-word;
}
#u3981_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:89px;
}
#u3981 {
  position:absolute;
  left:0px;
  top:661px;
  width:57px;
  height:88px;
  font-family:'FontAwesome Regular', 'FontAwesome';
  font-weight:405;
  font-style:normal;
  font-size:16px;
  color:#999999;
  text-align:center;
  line-height:28px;
}
#u3982 {
  position:absolute;
  left:2px;
  top:30px;
  width:53px;
  word-wrap:break-word;
}
#u3983_img {
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  height:89px;
}
#u3983 {
  position:absolute;
  left:57px;
  top:661px;
  width:131px;
  height:88px;
  font-family:'FontAwesome Regular', 'FontAwesome';
  font-weight:405;
  font-style:normal;
  font-size:62px;
  color:#CCCCCC;
  line-height:28px;
}
#u3984 {
  position:absolute;
  left:2px;
  top:36px;
  width:127px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3985_img {
  position:absolute;
  left:0px;
  top:0px;
  width:238px;
  height:89px;
}
#u3985 {
  position:absolute;
  left:188px;
  top:661px;
  width:237px;
  height:88px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  line-height:28px;
}
#u3986 {
  position:absolute;
  left:2px;
  top:30px;
  width:233px;
  word-wrap:break-word;
}
#u3987_img {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:89px;
}
#u3987 {
  position:absolute;
  left:425px;
  top:661px;
  width:375px;
  height:88px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
  line-height:28px;
}
#u3988 {
  position:absolute;
  left:2px;
  top:30px;
  width:371px;
  word-wrap:break-word;
}
#u3989_img {
  position:absolute;
  left:0px;
  top:0px;
  width:450px;
  height:89px;
}
#u3989 {
  position:absolute;
  left:800px;
  top:661px;
  width:449px;
  height:88px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  line-height:28px;
}
#u3990 {
  position:absolute;
  left:2px;
  top:30px;
  width:445px;
  word-wrap:break-word;
}
#u3991 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3992_img {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:26px;
}
#u3992 {
  position:absolute;
  left:954px;
  top:930px;
  width:140px;
  height:25px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u3993 {
  position:absolute;
  left:2px;
  top:4px;
  width:136px;
  word-wrap:break-word;
}
#u3994 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3995_img {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:26px;
}
#u3995 {
  position:absolute;
  left:1093px;
  top:930px;
  width:35px;
  height:25px;
  color:#999999;
}
#u3995_img.mouseOver {
}
#u3995.mouseOver {
}
#u3995_img.selected {
}
#u3995.selected {
}
#u3995_img.disabled {
}
#u3995.disabled {
}
#u3996 {
  position:absolute;
  left:2px;
  top:5px;
  width:31px;
  word-wrap:break-word;
}
#u3997_img {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:26px;
}
#u3997 {
  position:absolute;
  left:1132px;
  top:930px;
  width:35px;
  height:25px;
  color:#999999;
}
#u3997_img.mouseOver {
}
#u3997.mouseOver {
}
#u3997_img.selected {
}
#u3997.selected {
}
#u3997_img.disabled {
}
#u3997.disabled {
}
#u3998 {
  position:absolute;
  left:2px;
  top:5px;
  width:31px;
  word-wrap:break-word;
}
#u3999_img {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:26px;
}
#u3999 {
  position:absolute;
  left:1171px;
  top:930px;
  width:35px;
  height:25px;
  color:#999999;
}
#u3999_img.mouseOver {
}
#u3999.mouseOver {
}
#u3999_img.selected {
}
#u3999.selected {
}
#u3999_img.disabled {
}
#u3999.disabled {
}
#u4000 {
  position:absolute;
  left:2px;
  top:5px;
  width:31px;
  word-wrap:break-word;
}
#u4001_img {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:26px;
}
#u4001 {
  position:absolute;
  left:1211px;
  top:930px;
  width:35px;
  height:25px;
  color:#999999;
}
#u4001_img.mouseOver {
}
#u4001.mouseOver {
}
#u4001_img.selected {
}
#u4001.selected {
}
#u4001_img.disabled {
}
#u4001.disabled {
}
#u4002 {
  position:absolute;
  left:2px;
  top:5px;
  width:31px;
  word-wrap:break-word;
}
#u4003_img {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:26px;
}
#u4003 {
  position:absolute;
  left:1289px;
  top:930px;
  width:35px;
  height:25px;
  color:#999999;
}
#u4003_img.mouseOver {
}
#u4003.mouseOver {
}
#u4003_img.selected {
}
#u4003.selected {
}
#u4003_img.disabled {
}
#u4003.disabled {
}
#u4004 {
  position:absolute;
  left:2px;
  top:5px;
  width:31px;
  word-wrap:break-word;
}
#u4005_img {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:26px;
}
#u4005 {
  position:absolute;
  left:1249px;
  top:930px;
  width:35px;
  height:25px;
  color:#999999;
}
#u4005_img.mouseOver {
}
#u4005.mouseOver {
}
#u4005_img.selected {
}
#u4005.selected {
}
#u4005_img.disabled {
}
#u4005.disabled {
}
#u4006 {
  position:absolute;
  left:2px;
  top:5px;
  width:31px;
  word-wrap:break-word;
}
#u4007_img {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:26px;
}
#u4007 {
  position:absolute;
  left:1328px;
  top:930px;
  width:35px;
  height:25px;
  color:#999999;
}
#u4007_img.mouseOver {
}
#u4007.mouseOver {
}
#u4007_img.selected {
}
#u4007.selected {
}
#u4007_img.disabled {
}
#u4007.disabled {
}
#u4008 {
  position:absolute;
  left:2px;
  top:5px;
  width:31px;
  word-wrap:break-word;
}
#u4009 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4010_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:26px;
}
#u4010 {
  position:absolute;
  left:1373px;
  top:930px;
  width:27px;
  height:25px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#999999;
}
#u4011 {
  position:absolute;
  left:0px;
  top:4px;
  width:27px;
  white-space:nowrap;
}
#u4012_img {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:26px;
}
#u4012 {
  position:absolute;
  left:1412px;
  top:930px;
  width:35px;
  height:25px;
  font-family:'FontAwesome Regular', 'FontAwesome';
  font-weight:400;
  font-style:normal;
  color:#999999;
}
#u4012_img.selected {
}
#u4012.selected {
}
#u4012_img.disabled {
}
#u4012.disabled {
}
#u4013 {
  position:absolute;
  left:2px;
  top:4px;
  width:31px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4014_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:26px;
}
#u4014 {
  position:absolute;
  left:1457px;
  top:930px;
  width:14px;
  height:25px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#999999;
}
#u4015 {
  position:absolute;
  left:0px;
  top:4px;
  width:14px;
  white-space:nowrap;
}
#u4016 {
  position:absolute;
  left:1417px;
  top:933px;
  width:25px;
  height:18px;
}
#u4016_input {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:18px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#999999;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u4017 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4018_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:55px;
}
#u4018 {
  position:absolute;
  left:307px;
  top:223px;
  width:80px;
  height:55px;
}
#u4019 {
  position:absolute;
  left:2px;
  top:20px;
  width:76px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4020_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:55px;
}
#u4020 {
  position:absolute;
  left:307px;
  top:309px;
  width:80px;
  height:55px;
}
#u4021 {
  position:absolute;
  left:2px;
  top:20px;
  width:76px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4022_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:55px;
}
#u4022 {
  position:absolute;
  left:307px;
  top:396px;
  width:80px;
  height:55px;
}
#u4023 {
  position:absolute;
  left:2px;
  top:20px;
  width:76px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4024_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:55px;
}
#u4024 {
  position:absolute;
  left:307px;
  top:483px;
  width:80px;
  height:55px;
}
#u4025 {
  position:absolute;
  left:2px;
  top:20px;
  width:76px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4026_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:55px;
}
#u4026 {
  position:absolute;
  left:307px;
  top:574px;
  width:80px;
  height:55px;
}
#u4027 {
  position:absolute;
  left:2px;
  top:20px;
  width:76px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4028_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:55px;
}
#u4028 {
  position:absolute;
  left:307px;
  top:661px;
  width:80px;
  height:55px;
}
#u4029 {
  position:absolute;
  left:2px;
  top:20px;
  width:76px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4030_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:55px;
}
#u4030 {
  position:absolute;
  left:307px;
  top:752px;
  width:80px;
  height:55px;
}
#u4031 {
  position:absolute;
  left:2px;
  top:20px;
  width:76px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4032_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:55px;
}
#u4032 {
  position:absolute;
  left:307px;
  top:839px;
  width:80px;
  height:55px;
}
#u4033 {
  position:absolute;
  left:2px;
  top:20px;
  width:76px;
  visibility:hidden;
  word-wrap:break-word;
}
