body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:973px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u116_img {
  position:absolute;
  left:0px;
  top:0px;
  width:841px;
  height:42px;
}
#u116 {
  position:absolute;
  left:30px;
  top:30px;
  width:840px;
  height:41px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
}
#u117 {
  position:absolute;
  left:0px;
  top:0px;
  width:840px;
  word-wrap:break-word;
}
#u118_img {
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:67px;
}
#u118 {
  position:absolute;
  left:51px;
  top:1778px;
  width:116px;
  height:66px;
}
#u119 {
  position:absolute;
  left:2px;
  top:26px;
  width:112px;
  word-wrap:break-word;
}
#u120_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:61px;
}
#u120 {
  position:absolute;
  left:228px;
  top:1778px;
  width:100px;
  height:60px;
}
#u121 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u122_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:61px;
}
#u122 {
  position:absolute;
  left:228px;
  top:1882px;
  width:100px;
  height:60px;
}
#u123 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u124 {
  position:absolute;
  left:278px;
  top:1838px;
  width:0px;
  height:0px;
}
#u124_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:48px;
}
#u124_seg1 {
  position:absolute;
  left:-10px;
  top:-7px;
  width:20px;
  height:20px;
}
#u124_seg2 {
  position:absolute;
  left:-10px;
  top:30px;
  width:20px;
  height:21px;
}
#u125 {
  position:absolute;
  left:-50px;
  top:14px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u126 {
  position:absolute;
  left:278px;
  top:1942px;
  width:0px;
  height:0px;
}
#u126_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:468px;
}
#u126_seg1 {
  position:absolute;
  left:-10px;
  top:-7px;
  width:20px;
  height:20px;
}
#u126_seg2 {
  position:absolute;
  left:-10px;
  top:450px;
  width:20px;
  height:21px;
}
#u127 {
  position:absolute;
  left:-50px;
  top:224px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u128_img {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:36px;
}
#u128 {
  position:absolute;
  left:298px;
  top:1967px;
  width:62px;
  height:35px;
}
#u129 {
  position:absolute;
  left:2px;
  top:10px;
  width:58px;
  word-wrap:break-word;
}
#u130_img {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:36px;
}
#u130 {
  position:absolute;
  left:298px;
  top:2035px;
  width:62px;
  height:35px;
}
#u131 {
  position:absolute;
  left:2px;
  top:10px;
  width:58px;
  word-wrap:break-word;
}
#u132_img {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:36px;
}
#u132 {
  position:absolute;
  left:298px;
  top:2125px;
  width:62px;
  height:35px;
}
#u133 {
  position:absolute;
  left:2px;
  top:10px;
  width:58px;
  word-wrap:break-word;
}
#u134_img {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:36px;
}
#u134 {
  position:absolute;
  left:298px;
  top:2194px;
  width:62px;
  height:35px;
}
#u135 {
  position:absolute;
  left:2px;
  top:10px;
  width:58px;
  word-wrap:break-word;
}
#u136_img {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:36px;
}
#u136 {
  position:absolute;
  left:370px;
  top:2125px;
  width:62px;
  height:35px;
}
#u137 {
  position:absolute;
  left:2px;
  top:2px;
  width:58px;
  word-wrap:break-word;
}
#u138_img {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:36px;
}
#u138 {
  position:absolute;
  left:370px;
  top:2035px;
  width:62px;
  height:35px;
}
#u139 {
  position:absolute;
  left:2px;
  top:2px;
  width:58px;
  word-wrap:break-word;
}
#u140 {
  position:absolute;
  left:298px;
  top:1985px;
  width:0px;
  height:0px;
}
#u140_seg0 {
  position:absolute;
  left:-24px;
  top:-4px;
  width:24px;
  height:8px;
}
#u140_seg1 {
  position:absolute;
  left:-24px;
  top:-4px;
  width:8px;
  height:8px;
}
#u141 {
  position:absolute;
  left:-62px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u142 {
  position:absolute;
  left:298px;
  top:2053px;
  width:0px;
  height:0px;
}
#u142_seg0 {
  position:absolute;
  left:-26px;
  top:-4px;
  width:26px;
  height:8px;
}
#u142_seg1 {
  position:absolute;
  left:-26px;
  top:-2px;
  width:8px;
  height:6px;
}
#u143 {
  position:absolute;
  left:-62px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u144 {
  position:absolute;
  left:298px;
  top:2143px;
  width:0px;
  height:0px;
}
#u144_seg0 {
  position:absolute;
  left:-26px;
  top:-4px;
  width:26px;
  height:8px;
}
#u144_seg1 {
  position:absolute;
  left:-26px;
  top:-4px;
  width:8px;
  height:5px;
}
#u145 {
  position:absolute;
  left:-62px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u146 {
  position:absolute;
  left:298px;
  top:2212px;
  width:0px;
  height:0px;
}
#u146_seg0 {
  position:absolute;
  left:-24px;
  top:-4px;
  width:24px;
  height:8px;
}
#u146_seg1 {
  position:absolute;
  left:-24px;
  top:-1px;
  width:8px;
  height:5px;
}
#u147 {
  position:absolute;
  left:-60px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u148_img {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:36px;
}
#u148 {
  position:absolute;
  left:370px;
  top:2194px;
  width:62px;
  height:35px;
}
#u149 {
  position:absolute;
  left:2px;
  top:2px;
  width:58px;
  word-wrap:break-word;
}
#u150_img {
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:67px;
}
#u150 {
  position:absolute;
  left:588px;
  top:1778px;
  width:116px;
  height:66px;
}
#u151 {
  position:absolute;
  left:2px;
  top:26px;
  width:112px;
  word-wrap:break-word;
}
#u152_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:61px;
}
#u152 {
  position:absolute;
  left:765px;
  top:1778px;
  width:100px;
  height:60px;
}
#u153 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u154_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:61px;
}
#u154 {
  position:absolute;
  left:765px;
  top:1882px;
  width:100px;
  height:60px;
}
#u155 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u156 {
  position:absolute;
  left:815px;
  top:1838px;
  width:0px;
  height:0px;
}
#u156_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:48px;
}
#u156_seg1 {
  position:absolute;
  left:-10px;
  top:-7px;
  width:20px;
  height:20px;
}
#u156_seg2 {
  position:absolute;
  left:-10px;
  top:30px;
  width:20px;
  height:21px;
}
#u157 {
  position:absolute;
  left:-50px;
  top:14px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u158 {
  position:absolute;
  left:815px;
  top:1942px;
  width:0px;
  height:0px;
}
#u158_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:468px;
}
#u158_seg1 {
  position:absolute;
  left:-10px;
  top:-7px;
  width:20px;
  height:20px;
}
#u158_seg2 {
  position:absolute;
  left:-10px;
  top:450px;
  width:20px;
  height:21px;
}
#u159 {
  position:absolute;
  left:-50px;
  top:224px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u160_img {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:36px;
}
#u160 {
  position:absolute;
  left:839px;
  top:1967px;
  width:62px;
  height:35px;
}
#u161 {
  position:absolute;
  left:2px;
  top:10px;
  width:58px;
  word-wrap:break-word;
}
#u162_img {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:36px;
}
#u162 {
  position:absolute;
  left:839px;
  top:2035px;
  width:62px;
  height:35px;
}
#u163 {
  position:absolute;
  left:2px;
  top:10px;
  width:58px;
  word-wrap:break-word;
}
#u164_img {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:36px;
}
#u164 {
  position:absolute;
  left:839px;
  top:2125px;
  width:62px;
  height:35px;
}
#u165 {
  position:absolute;
  left:2px;
  top:10px;
  width:58px;
  word-wrap:break-word;
}
#u166_img {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:36px;
}
#u166 {
  position:absolute;
  left:839px;
  top:2215px;
  width:62px;
  height:35px;
}
#u167 {
  position:absolute;
  left:2px;
  top:10px;
  width:58px;
  word-wrap:break-word;
}
#u168_img {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:36px;
}
#u168 {
  position:absolute;
  left:839px;
  top:2305px;
  width:62px;
  height:35px;
}
#u169 {
  position:absolute;
  left:2px;
  top:10px;
  width:58px;
  word-wrap:break-word;
}
#u170_img {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:36px;
}
#u170 {
  position:absolute;
  left:911px;
  top:2108px;
  width:62px;
  height:35px;
}
#u171 {
  position:absolute;
  left:2px;
  top:2px;
  width:58px;
  word-wrap:break-word;
}
#u172_img {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:36px;
}
#u172 {
  position:absolute;
  left:911px;
  top:2143px;
  width:62px;
  height:35px;
}
#u173 {
  position:absolute;
  left:2px;
  top:2px;
  width:58px;
  word-wrap:break-word;
}
#u174_img {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:36px;
}
#u174 {
  position:absolute;
  left:911px;
  top:2198px;
  width:62px;
  height:35px;
}
#u175 {
  position:absolute;
  left:2px;
  top:2px;
  width:58px;
  word-wrap:break-word;
}
#u176_img {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:36px;
}
#u176 {
  position:absolute;
  left:911px;
  top:2233px;
  width:62px;
  height:35px;
}
#u177 {
  position:absolute;
  left:2px;
  top:2px;
  width:58px;
  word-wrap:break-word;
}
#u178_img {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:36px;
}
#u178 {
  position:absolute;
  left:911px;
  top:2018px;
  width:62px;
  height:35px;
}
#u179 {
  position:absolute;
  left:2px;
  top:2px;
  width:58px;
  word-wrap:break-word;
}
#u180_img {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:36px;
}
#u180 {
  position:absolute;
  left:911px;
  top:2053px;
  width:62px;
  height:35px;
}
#u181 {
  position:absolute;
  left:2px;
  top:2px;
  width:58px;
  word-wrap:break-word;
}
#u182 {
  position:absolute;
  left:839px;
  top:1985px;
  width:0px;
  height:0px;
}
#u182_seg0 {
  position:absolute;
  left:-24px;
  top:-4px;
  width:24px;
  height:8px;
}
#u182_seg1 {
  position:absolute;
  left:-24px;
  top:-4px;
  width:8px;
  height:8px;
}
#u183 {
  position:absolute;
  left:-62px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u184 {
  position:absolute;
  left:839px;
  top:2053px;
  width:0px;
  height:0px;
}
#u184_seg0 {
  position:absolute;
  left:-26px;
  top:-4px;
  width:26px;
  height:8px;
}
#u184_seg1 {
  position:absolute;
  left:-26px;
  top:-2px;
  width:8px;
  height:6px;
}
#u185 {
  position:absolute;
  left:-62px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u186 {
  position:absolute;
  left:839px;
  top:2143px;
  width:0px;
  height:0px;
}
#u186_seg0 {
  position:absolute;
  left:-26px;
  top:-4px;
  width:26px;
  height:8px;
}
#u186_seg1 {
  position:absolute;
  left:-26px;
  top:-4px;
  width:8px;
  height:5px;
}
#u187 {
  position:absolute;
  left:-62px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u188 {
  position:absolute;
  left:839px;
  top:2233px;
  width:0px;
  height:0px;
}
#u188_seg0 {
  position:absolute;
  left:-24px;
  top:-4px;
  width:24px;
  height:8px;
}
#u188_seg1 {
  position:absolute;
  left:-24px;
  top:-1px;
  width:8px;
  height:5px;
}
#u189 {
  position:absolute;
  left:-60px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u190 {
  position:absolute;
  left:839px;
  top:2323px;
  width:0px;
  height:0px;
}
#u190_seg0 {
  position:absolute;
  left:-24px;
  top:-4px;
  width:24px;
  height:8px;
}
#u190_seg1 {
  position:absolute;
  left:-24px;
  top:-1px;
  width:8px;
  height:5px;
}
#u191 {
  position:absolute;
  left:-60px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u192_img {
  position:absolute;
  left:0px;
  top:0px;
  width:226px;
  height:38px;
}
#u192 {
  position:absolute;
  left:51px;
  top:1689px;
  width:225px;
  height:37px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u193 {
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  white-space:nowrap;
}
#u194_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:61px;
}
#u194 {
  position:absolute;
  left:228px;
  top:2407px;
  width:100px;
  height:60px;
}
#u195 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u196_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:61px;
}
#u196 {
  position:absolute;
  left:228px;
  top:2836px;
  width:100px;
  height:60px;
}
#u197 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u198 {
  position:absolute;
  left:278px;
  top:2467px;
  width:0px;
  height:0px;
}
#u198_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:373px;
}
#u198_seg1 {
  position:absolute;
  left:-10px;
  top:-7px;
  width:20px;
  height:21px;
}
#u198_seg2 {
  position:absolute;
  left:-10px;
  top:355px;
  width:20px;
  height:21px;
}
#u199 {
  position:absolute;
  left:-50px;
  top:177px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u200_img {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:36px;
}
#u200 {
  position:absolute;
  left:298px;
  top:2507px;
  width:62px;
  height:35px;
}
#u201 {
  position:absolute;
  left:2px;
  top:10px;
  width:58px;
  word-wrap:break-word;
}
#u202_img {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:36px;
}
#u202 {
  position:absolute;
  left:298px;
  top:2587px;
  width:62px;
  height:35px;
}
#u203 {
  position:absolute;
  left:2px;
  top:10px;
  width:58px;
  word-wrap:break-word;
}
#u204_img {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:36px;
}
#u204 {
  position:absolute;
  left:298px;
  top:2670px;
  width:62px;
  height:35px;
}
#u205 {
  position:absolute;
  left:2px;
  top:10px;
  width:58px;
  word-wrap:break-word;
}
#u206_img {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:36px;
}
#u206 {
  position:absolute;
  left:370px;
  top:2587px;
  width:62px;
  height:35px;
}
#u207 {
  position:absolute;
  left:2px;
  top:10px;
  width:58px;
  word-wrap:break-word;
}
#u208_img {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:36px;
}
#u208 {
  position:absolute;
  left:370px;
  top:2670px;
  width:62px;
  height:35px;
}
#u209 {
  position:absolute;
  left:2px;
  top:10px;
  width:58px;
  word-wrap:break-word;
}
#u210_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:61px;
}
#u210 {
  position:absolute;
  left:765px;
  top:2407px;
  width:100px;
  height:60px;
}
#u211 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u212_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:61px;
}
#u212 {
  position:absolute;
  left:765px;
  top:2836px;
  width:100px;
  height:60px;
}
#u213 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u214 {
  position:absolute;
  left:815px;
  top:2467px;
  width:0px;
  height:0px;
}
#u214_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:373px;
}
#u214_seg1 {
  position:absolute;
  left:-10px;
  top:-7px;
  width:20px;
  height:21px;
}
#u214_seg2 {
  position:absolute;
  left:-10px;
  top:355px;
  width:20px;
  height:21px;
}
#u215 {
  position:absolute;
  left:-50px;
  top:177px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u216_img {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:36px;
}
#u216 {
  position:absolute;
  left:839px;
  top:2507px;
  width:62px;
  height:35px;
}
#u217 {
  position:absolute;
  left:2px;
  top:10px;
  width:58px;
  word-wrap:break-word;
}
#u218_img {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:36px;
}
#u218 {
  position:absolute;
  left:839px;
  top:2587px;
  width:62px;
  height:35px;
}
#u219 {
  position:absolute;
  left:2px;
  top:10px;
  width:58px;
  word-wrap:break-word;
}
#u220_img {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:36px;
}
#u220 {
  position:absolute;
  left:839px;
  top:2670px;
  width:62px;
  height:35px;
}
#u221 {
  position:absolute;
  left:2px;
  top:10px;
  width:58px;
  word-wrap:break-word;
}
#u222_img {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:36px;
}
#u222 {
  position:absolute;
  left:911px;
  top:2587px;
  width:62px;
  height:35px;
}
#u223 {
  position:absolute;
  left:2px;
  top:10px;
  width:58px;
  word-wrap:break-word;
}
#u224_img {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:36px;
}
#u224 {
  position:absolute;
  left:911px;
  top:2670px;
  width:62px;
  height:35px;
}
#u225 {
  position:absolute;
  left:2px;
  top:10px;
  width:58px;
  word-wrap:break-word;
}
#u226_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:61px;
}
#u226 {
  position:absolute;
  left:130px;
  top:198px;
  width:100px;
  height:60px;
}
#u227 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u228_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:61px;
}
#u228 {
  position:absolute;
  left:130px;
  top:302px;
  width:100px;
  height:60px;
}
#u229 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u230_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:61px;
}
#u230 {
  position:absolute;
  left:130px;
  top:826px;
  width:100px;
  height:60px;
}
#u231 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u232_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:61px;
}
#u232 {
  position:absolute;
  left:130px;
  top:1255px;
  width:100px;
  height:60px;
}
#u233 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u234 {
  position:absolute;
  left:180px;
  top:258px;
  width:0px;
  height:0px;
}
#u234_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:48px;
}
#u234_seg1 {
  position:absolute;
  left:-10px;
  top:-7px;
  width:20px;
  height:20px;
}
#u234_seg2 {
  position:absolute;
  left:-10px;
  top:30px;
  width:20px;
  height:21px;
}
#u235 {
  position:absolute;
  left:-50px;
  top:14px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u236 {
  position:absolute;
  left:180px;
  top:362px;
  width:0px;
  height:0px;
}
#u236_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:468px;
}
#u236_seg1 {
  position:absolute;
  left:-10px;
  top:-7px;
  width:20px;
  height:20px;
}
#u236_seg2 {
  position:absolute;
  left:-10px;
  top:450px;
  width:20px;
  height:21px;
}
#u237 {
  position:absolute;
  left:-50px;
  top:224px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u238 {
  position:absolute;
  left:180px;
  top:886px;
  width:0px;
  height:0px;
}
#u238_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:373px;
}
#u238_seg1 {
  position:absolute;
  left:-10px;
  top:-7px;
  width:20px;
  height:20px;
}
#u238_seg2 {
  position:absolute;
  left:-10px;
  top:355px;
  width:20px;
  height:21px;
}
#u239 {
  position:absolute;
  left:-50px;
  top:176px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u240_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:30px;
}
#u240 {
  position:absolute;
  left:156px;
  top:133px;
  width:49px;
  height:29px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u241 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u242_img {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:36px;
}
#u242 {
  position:absolute;
  left:200px;
  top:387px;
  width:62px;
  height:35px;
}
#u243 {
  position:absolute;
  left:2px;
  top:10px;
  width:58px;
  word-wrap:break-word;
}
#u244_img {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:36px;
}
#u244 {
  position:absolute;
  left:200px;
  top:455px;
  width:62px;
  height:35px;
}
#u245 {
  position:absolute;
  left:2px;
  top:10px;
  width:58px;
  word-wrap:break-word;
}
#u246_img {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:36px;
}
#u246 {
  position:absolute;
  left:200px;
  top:545px;
  width:62px;
  height:35px;
}
#u247 {
  position:absolute;
  left:2px;
  top:10px;
  width:58px;
  word-wrap:break-word;
}
#u248_img {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:36px;
}
#u248 {
  position:absolute;
  left:200px;
  top:635px;
  width:62px;
  height:35px;
}
#u249 {
  position:absolute;
  left:2px;
  top:10px;
  width:58px;
  word-wrap:break-word;
}
#u250_img {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:36px;
}
#u250 {
  position:absolute;
  left:200px;
  top:926px;
  width:62px;
  height:35px;
}
#u251 {
  position:absolute;
  left:2px;
  top:10px;
  width:58px;
  word-wrap:break-word;
}
#u252_img {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:36px;
}
#u252 {
  position:absolute;
  left:200px;
  top:1006px;
  width:62px;
  height:35px;
}
#u253 {
  position:absolute;
  left:2px;
  top:10px;
  width:58px;
  word-wrap:break-word;
}
#u254_img {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:36px;
}
#u254 {
  position:absolute;
  left:200px;
  top:1086px;
  width:62px;
  height:35px;
}
#u255 {
  position:absolute;
  left:2px;
  top:10px;
  width:58px;
  word-wrap:break-word;
}
#u256_img {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:36px;
}
#u256 {
  position:absolute;
  left:200px;
  top:1169px;
  width:62px;
  height:35px;
}
#u257 {
  position:absolute;
  left:2px;
  top:10px;
  width:58px;
  word-wrap:break-word;
}
#u258_img {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:36px;
}
#u258 {
  position:absolute;
  left:200px;
  top:725px;
  width:62px;
  height:35px;
}
#u259 {
  position:absolute;
  left:2px;
  top:10px;
  width:58px;
  word-wrap:break-word;
}
#u260_img {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:36px;
}
#u260 {
  position:absolute;
  left:272px;
  top:528px;
  width:62px;
  height:35px;
}
#u261 {
  position:absolute;
  left:2px;
  top:2px;
  width:58px;
  word-wrap:break-word;
}
#u262_img {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:36px;
}
#u262 {
  position:absolute;
  left:272px;
  top:563px;
  width:62px;
  height:35px;
}
#u263 {
  position:absolute;
  left:2px;
  top:2px;
  width:58px;
  word-wrap:break-word;
}
#u264_img {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:36px;
}
#u264 {
  position:absolute;
  left:272px;
  top:618px;
  width:62px;
  height:35px;
}
#u265 {
  position:absolute;
  left:2px;
  top:2px;
  width:58px;
  word-wrap:break-word;
}
#u266_img {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:36px;
}
#u266 {
  position:absolute;
  left:272px;
  top:653px;
  width:62px;
  height:35px;
}
#u267 {
  position:absolute;
  left:2px;
  top:2px;
  width:58px;
  word-wrap:break-word;
}
#u268_img {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:36px;
}
#u268 {
  position:absolute;
  left:272px;
  top:1069px;
  width:62px;
  height:35px;
}
#u269 {
  position:absolute;
  left:2px;
  top:10px;
  width:58px;
  word-wrap:break-word;
}
#u270_img {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:36px;
}
#u270 {
  position:absolute;
  left:272px;
  top:1104px;
  width:62px;
  height:35px;
}
#u271 {
  position:absolute;
  left:2px;
  top:10px;
  width:58px;
  word-wrap:break-word;
}
#u272_img {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:36px;
}
#u272 {
  position:absolute;
  left:272px;
  top:438px;
  width:62px;
  height:35px;
}
#u273 {
  position:absolute;
  left:2px;
  top:2px;
  width:58px;
  word-wrap:break-word;
}
#u274_img {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:36px;
}
#u274 {
  position:absolute;
  left:272px;
  top:473px;
  width:62px;
  height:35px;
}
#u275 {
  position:absolute;
  left:2px;
  top:2px;
  width:58px;
  word-wrap:break-word;
}
#u276 {
  position:absolute;
  left:200px;
  top:405px;
  width:0px;
  height:0px;
}
#u276_seg0 {
  position:absolute;
  left:-24px;
  top:-4px;
  width:24px;
  height:8px;
}
#u276_seg1 {
  position:absolute;
  left:-24px;
  top:-4px;
  width:8px;
  height:8px;
}
#u277 {
  position:absolute;
  left:-62px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u278 {
  position:absolute;
  left:200px;
  top:473px;
  width:0px;
  height:0px;
}
#u278_seg0 {
  position:absolute;
  left:-26px;
  top:-4px;
  width:26px;
  height:8px;
}
#u278_seg1 {
  position:absolute;
  left:-26px;
  top:-2px;
  width:8px;
  height:6px;
}
#u279 {
  position:absolute;
  left:-62px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u280 {
  position:absolute;
  left:200px;
  top:563px;
  width:0px;
  height:0px;
}
#u280_seg0 {
  position:absolute;
  left:-26px;
  top:-4px;
  width:26px;
  height:8px;
}
#u280_seg1 {
  position:absolute;
  left:-26px;
  top:-4px;
  width:8px;
  height:5px;
}
#u281 {
  position:absolute;
  left:-62px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u282 {
  position:absolute;
  left:200px;
  top:653px;
  width:0px;
  height:0px;
}
#u282_seg0 {
  position:absolute;
  left:-24px;
  top:-4px;
  width:24px;
  height:8px;
}
#u282_seg1 {
  position:absolute;
  left:-24px;
  top:-1px;
  width:8px;
  height:5px;
}
#u283 {
  position:absolute;
  left:-60px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u284 {
  position:absolute;
  left:200px;
  top:743px;
  width:0px;
  height:0px;
}
#u284_seg0 {
  position:absolute;
  left:-24px;
  top:-4px;
  width:24px;
  height:8px;
}
#u284_seg1 {
  position:absolute;
  left:-24px;
  top:-1px;
  width:8px;
  height:5px;
}
#u285 {
  position:absolute;
  left:-60px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u286_img {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:36px;
}
#u286 {
  position:absolute;
  left:272px;
  top:1152px;
  width:62px;
  height:35px;
}
#u287 {
  position:absolute;
  left:2px;
  top:10px;
  width:58px;
  word-wrap:break-word;
}
#u288_img {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:36px;
}
#u288 {
  position:absolute;
  left:272px;
  top:1187px;
  width:62px;
  height:35px;
}
#u289 {
  position:absolute;
  left:2px;
  top:10px;
  width:58px;
  word-wrap:break-word;
}
#u290_img {
  position:absolute;
  left:0px;
  top:0px;
  width:226px;
  height:38px;
}
#u290 {
  position:absolute;
  left:540px;
  top:146px;
  width:225px;
  height:37px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u291 {
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  white-space:nowrap;
}
#u292_img {
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:67px;
}
#u292 {
  position:absolute;
  left:540px;
  top:232px;
  width:116px;
  height:66px;
}
#u293 {
  position:absolute;
  left:2px;
  top:26px;
  width:112px;
  word-wrap:break-word;
}
#u294_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:61px;
}
#u294 {
  position:absolute;
  left:704px;
  top:235px;
  width:100px;
  height:60px;
}
#u295 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
