body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1473px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1760 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1761_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1291px;
  height:61px;
}
#u1761 {
  position:absolute;
  left:182px;
  top:50px;
  width:1290px;
  height:60px;
}
#u1762 {
  position:absolute;
  left:2px;
  top:22px;
  width:1286px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1763_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:193px;
  height:23px;
}
#u1763 {
  position:absolute;
  left:202px;
  top:73px;
  width:188px;
  height:18px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#999999;
  text-align:left;
}
#u1763_img.selected {
}
#u1763.selected {
}
#u1764 {
  position:absolute;
  left:10px;
  top:0px;
  width:176px;
  word-wrap:break-word;
}
#u1765 {
  position:absolute;
  left:181px;
  top:50px;
  width:2px;
  height:801px;
  overflow:hidden;
}
#u1765_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:801px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-color:rgba(228, 228, 228, 1);
  background-image:none;
}
#u1765_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1766_img {
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:1032px;
}
#u1766 {
  position:absolute;
  left:2px;
  top:49px;
  width:180px;
  height:1031px;
}
#u1767 {
  position:absolute;
  left:2px;
  top:508px;
  width:176px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1768 {
  position:absolute;
  left:2px;
  top:0px;
  width:1471px;
  height:51px;
  overflow:hidden;
}
#u1768_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:1471px;
  height:51px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-color:rgba(70, 76, 91, 0.898039215686275);
  background-image:none;
}
#u1768_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1768_state1 {
  position:absolute;
  left:0px;
  top:0px;
  width:1471px;
  height:51px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-color:rgba(52, 152, 219, 1);
  background-image:none;
}
#u1768_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1768_state2 {
  position:absolute;
  left:0px;
  top:0px;
  width:1471px;
  height:51px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-color:rgba(237, 110, 77, 1);
  background-image:none;
}
#u1768_state2_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1768_state3 {
  position:absolute;
  left:0px;
  top:0px;
  width:1471px;
  height:51px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-color:rgba(250, 187, 61, 1);
  background-image:none;
}
#u1768_state3_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1768_state4 {
  position:absolute;
  left:0px;
  top:0px;
  width:1471px;
  height:51px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-color:rgba(170, 122, 179, 1);
  background-image:none;
}
#u1768_state4_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1768_state5 {
  position:absolute;
  left:0px;
  top:0px;
  width:1471px;
  height:51px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-color:rgba(154, 208, 185, 1);
  background-image:none;
}
#u1768_state5_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1768_state6 {
  position:absolute;
  left:0px;
  top:0px;
  width:1471px;
  height:51px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-color:rgba(234, 148, 190, 1);
  background-image:none;
}
#u1768_state6_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1768_state7 {
  position:absolute;
  left:0px;
  top:0px;
  width:1471px;
  height:51px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-color:rgba(193, 55, 74, 1);
  background-image:none;
}
#u1768_state7_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1769 {
  position:absolute;
  left:2px;
  top:48px;
  width:1367px;
  height:3px;
  overflow:hidden;
}
#u1769_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:1367px;
  height:3px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-color:rgba(0, 0, 0, 0.2);
  background-image:none;
}
#u1769_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1770_img {
  position:absolute;
  left:0px;
  top:0px;
  width:162px;
  height:49px;
}
#u1770 {
  position:absolute;
  left:20px;
  top:0px;
  width:161px;
  height:48px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
  text-align:left;
  line-height:28px;
}
#u1770_img.selected {
}
#u1770.selected {
}
#u1771 {
  position:absolute;
  left:0px;
  top:10px;
  width:161px;
  word-wrap:break-word;
}
#u1772 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1773_img {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:31px;
}
#u1773 {
  position:absolute;
  left:12px;
  top:66px;
  width:160px;
  height:30px;
  font-size:12px;
  color:#999999;
  text-align:left;
}
#u1774 {
  position:absolute;
  left:30px;
  top:8px;
  width:130px;
  word-wrap:break-word;
}
#u1775_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u1775 {
  position:absolute;
  left:20px;
  top:74px;
  width:14px;
  height:14px;
  font-size:12px;
  color:#666666;
}
#u1775_img.mouseOver {
}
#u1775.mouseOver {
}
#u1776 {
  position:absolute;
  left:2px;
  top:-1px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1777 {
  position:absolute;
  left:181px;
  top:109px;
  width:1292px;
  height:2px;
  overflow:hidden;
}
#u1777_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:1292px;
  height:2px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-color:rgba(228, 228, 228, 1);
  background-image:none;
}
#u1777_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1778_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:903px;
}
#u1778 {
  position:absolute;
  left:181px;
  top:50px;
  width:1px;
  height:902px;
}
#u1779 {
  position:absolute;
  left:2px;
  top:443px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1780 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1781_img {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:50px;
}
#u1781 {
  position:absolute;
  left:454px;
  top:0px;
  width:88px;
  height:49px;
  font-family:'微软雅黑';
  font-weight:407;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u1781_img.mouseOver {
}
#u1781.mouseOver {
}
#u1781_img.selected {
}
#u1781.selected {
}
#u1782 {
  position:absolute;
  left:2px;
  top:16px;
  width:84px;
  word-wrap:break-word;
}
#u1783_img {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:50px;
}
#u1783 {
  position:absolute;
  left:366px;
  top:0px;
  width:88px;
  height:49px;
  font-family:'微软雅黑';
  font-weight:407;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u1783_img.mouseOver {
}
#u1783.mouseOver {
}
#u1783_img.selected {
}
#u1783.selected {
}
#u1784 {
  position:absolute;
  left:2px;
  top:16px;
  width:84px;
  word-wrap:break-word;
}
#u1785_img {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:50px;
}
#u1785 {
  position:absolute;
  left:279px;
  top:0px;
  width:88px;
  height:49px;
  font-family:'微软雅黑';
  font-weight:407;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u1785_img.mouseOver {
}
#u1785.mouseOver {
}
#u1785_img.selected {
}
#u1785.selected {
}
#u1786 {
  position:absolute;
  left:2px;
  top:16px;
  width:84px;
  word-wrap:break-word;
}
#u1787 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1788_img {
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:43px;
}
#u1788 {
  position:absolute;
  left:1px;
  top:122px;
  width:180px;
  height:42px;
  color:#353535;
  text-align:left;
}
#u1788_img.mouseOver {
}
#u1788.mouseOver {
}
#u1788_img.selected {
}
#u1788.selected {
}
#u1789 {
  position:absolute;
  left:48px;
  top:14px;
  width:132px;
  word-wrap:break-word;
}
#u1790_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:15px;
}
#u1790 {
  position:absolute;
  left:19px;
  top:137px;
  width:9px;
  height:14px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u1790_img.mouseOver {
}
#u1790.mouseOver {
}
#u1790_img.selected {
}
#u1790.selected {
}
#u1791 {
  position:absolute;
  left:2px;
  top:-1px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1792 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1793_img {
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:43px;
}
#u1793 {
  position:absolute;
  left:1px;
  top:164px;
  width:180px;
  height:42px;
  color:#353535;
  text-align:left;
}
#u1793_img.selected {
}
#u1793.selected {
}
#u1794 {
  position:absolute;
  left:48px;
  top:14px;
  width:132px;
  word-wrap:break-word;
}
#u1795_img {
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  height:9px;
}
#u1795 {
  position:absolute;
  left:160px;
  top:183px;
  width:10px;
  height:8px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u1796 {
  position:absolute;
  left:2px;
  top:-4px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1797_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:15px;
}
#u1797 {
  position:absolute;
  left:19px;
  top:179px;
  width:9px;
  height:14px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u1797_img.mouseOver {
}
#u1797.mouseOver {
}
#u1797_img.selected {
}
#u1797.selected {
}
#u1798 {
  position:absolute;
  left:2px;
  top:-1px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1799_img {
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:43px;
}
#u1799 {
  position:absolute;
  left:1px;
  top:208px;
  width:180px;
  height:42px;
  color:#353535;
  text-align:left;
}
#u1799_img.mouseOver {
}
#u1799.mouseOver {
}
#u1799_img.selected {
}
#u1799.selected {
}
#u1800 {
  position:absolute;
  left:48px;
  top:14px;
  width:132px;
  word-wrap:break-word;
}
#u1801_img {
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:43px;
}
#u1801 {
  position:absolute;
  left:1px;
  top:249px;
  width:180px;
  height:42px;
  color:#353535;
  text-align:left;
}
#u1801_img.mouseOver {
}
#u1801.mouseOver {
}
#u1801_img.selected {
}
#u1801.selected {
}
#u1802 {
  position:absolute;
  left:48px;
  top:14px;
  width:132px;
  word-wrap:break-word;
}
#u1803 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1804_img {
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:43px;
}
#u1804 {
  position:absolute;
  left:1px;
  top:293px;
  width:180px;
  height:42px;
  color:#353535;
  text-align:left;
}
#u1804_img.selected {
}
#u1804.selected {
}
#u1805 {
  position:absolute;
  left:48px;
  top:14px;
  width:132px;
  word-wrap:break-word;
}
#u1806_img {
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  height:9px;
}
#u1806 {
  position:absolute;
  left:160px;
  top:312px;
  width:10px;
  height:8px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u1807 {
  position:absolute;
  left:2px;
  top:-4px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1808_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:15px;
}
#u1808 {
  position:absolute;
  left:19px;
  top:308px;
  width:9px;
  height:14px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u1808_img.mouseOver {
}
#u1808.mouseOver {
}
#u1808_img.selected {
}
#u1808.selected {
}
#u1809 {
  position:absolute;
  left:2px;
  top:-1px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1810_img {
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:43px;
}
#u1810 {
  position:absolute;
  left:1px;
  top:337px;
  width:180px;
  height:42px;
  color:#353535;
  text-align:left;
}
#u1810_img.mouseOver {
}
#u1810.mouseOver {
}
#u1810_img.selected {
}
#u1810.selected {
}
#u1811 {
  position:absolute;
  left:48px;
  top:14px;
  width:132px;
  word-wrap:break-word;
}
#u1812_img {
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:43px;
}
#u1812 {
  position:absolute;
  left:1px;
  top:378px;
  width:180px;
  height:42px;
  color:#353535;
  text-align:left;
}
#u1812_img.mouseOver {
}
#u1812.mouseOver {
}
#u1812_img.selected {
}
#u1812.selected {
}
#u1813 {
  position:absolute;
  left:48px;
  top:14px;
  width:132px;
  word-wrap:break-word;
}
#u1814_img {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:50px;
}
#u1814 {
  position:absolute;
  left:196px;
  top:0px;
  width:88px;
  height:49px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#0033CC;
}
#u1814_img.mouseOver {
}
#u1814.mouseOver {
}
#u1814_img.selected {
}
#u1814.selected {
}
#u1815 {
  position:absolute;
  left:2px;
  top:16px;
  width:84px;
  word-wrap:break-word;
}
#u1816_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:17px;
}
#u1816 {
  position:absolute;
  left:1353px;
  top:17px;
  width:49px;
  height:16px;
  font-family:'微软雅黑';
  font-weight:407;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
  text-align:center;
}
#u1817 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u1818_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1292px;
  height:972px;
}
#u1818 {
  position:absolute;
  left:182px;
  top:109px;
  width:1291px;
  height:971px;
}
#u1819 {
  position:absolute;
  left:2px;
  top:478px;
  width:1287px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1820_img {
  position:absolute;
  left:0px;
  top:0px;
  width:253px;
  height:138px;
}
#u1820 {
  position:absolute;
  left:202px;
  top:101px;
  width:252px;
  height:137px;
}
#u1821 {
  position:absolute;
  left:2px;
  top:60px;
  width:248px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1822_img {
  position:absolute;
  left:0px;
  top:0px;
  width:253px;
  height:138px;
}
#u1822 {
  position:absolute;
  left:611px;
  top:101px;
  width:252px;
  height:137px;
}
#u1823 {
  position:absolute;
  left:2px;
  top:60px;
  width:248px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1824_img {
  position:absolute;
  left:0px;
  top:0px;
  width:253px;
  height:138px;
}
#u1824 {
  position:absolute;
  left:1062px;
  top:101px;
  width:252px;
  height:137px;
}
#u1825 {
  position:absolute;
  left:2px;
  top:60px;
  width:248px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1826_img {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:38px;
}
#u1826 {
  position:absolute;
  left:294px;
  top:114px;
  width:129px;
  height:37px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1827 {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  white-space:nowrap;
}
#u1828_img {
  position:absolute;
  left:0px;
  top:0px;
  width:194px;
  height:38px;
}
#u1828 {
  position:absolute;
  left:666px;
  top:114px;
  width:193px;
  height:37px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1829 {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  white-space:nowrap;
}
#u1830_img {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:38px;
}
#u1830 {
  position:absolute;
  left:1133px;
  top:114px;
  width:129px;
  height:37px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1831 {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  white-space:nowrap;
}
#u1832_img {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:42px;
}
#u1832 {
  position:absolute;
  left:268px;
  top:167px;
  width:118px;
  height:41px;
  font-size:36px;
}
#u1833 {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  white-space:nowrap;
}
#u1834_img {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:42px;
}
#u1834 {
  position:absolute;
  left:703px;
  top:167px;
  width:78px;
  height:41px;
  font-size:36px;
}
#u1835 {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  white-space:nowrap;
}
#u1836_img {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:42px;
}
#u1836 {
  position:absolute;
  left:1139px;
  top:167px;
  width:107px;
  height:41px;
  font-size:36px;
}
#u1837 {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  white-space:nowrap;
}
#u1838_img {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:38px;
}
#u1838 {
  position:absolute;
  left:248px;
  top:109px;
  width:36px;
  height:37px;
}
#u1839 {
  position:absolute;
  left:2px;
  top:10px;
  width:32px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1840_img {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:38px;
}
#u1840 {
  position:absolute;
  left:620px;
  top:114px;
  width:40px;
  height:37px;
}
#u1841 {
  position:absolute;
  left:2px;
  top:10px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1842_img {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:38px;
}
#u1842 {
  position:absolute;
  left:1080px;
  top:114px;
  width:43px;
  height:37px;
}
#u1843 {
  position:absolute;
  left:2px;
  top:10px;
  width:39px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1844_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1120px;
  height:386px;
}
#u1844 {
  position:absolute;
  left:202px;
  top:273px;
  width:1119px;
  height:385px;
}
#u1845 {
  position:absolute;
  left:2px;
  top:184px;
  width:1115px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1846_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:38px;
}
#u1846 {
  position:absolute;
  left:238px;
  top:293px;
  width:65px;
  height:37px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1847 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u1848_img {
  position:absolute;
  left:0px;
  top:0px;
  width:725px;
  height:171px;
}
#u1848 {
  position:absolute;
  left:233px;
  top:389px;
  width:724px;
  height:170px;
}
#u1849 {
  position:absolute;
  left:2px;
  top:77px;
  width:720px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1850_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1120px;
  height:356px;
}
#u1850 {
  position:absolute;
  left:202px;
  top:707px;
  width:1119px;
  height:355px;
}
#u1851 {
  position:absolute;
  left:2px;
  top:170px;
  width:1115px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1852_img {
  position:absolute;
  left:0px;
  top:0px;
  width:725px;
  height:200px;
}
#u1852 {
  position:absolute;
  left:233px;
  top:792px;
  width:724px;
  height:199px;
}
#u1853 {
  position:absolute;
  left:2px;
  top:92px;
  width:720px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1854_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:38px;
}
#u1854 {
  position:absolute;
  left:233px;
  top:728px;
  width:65px;
  height:37px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1855 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
