body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1473px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2550 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2551_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1291px;
  height:61px;
}
#u2551 {
  position:absolute;
  left:182px;
  top:50px;
  width:1290px;
  height:60px;
}
#u2552 {
  position:absolute;
  left:2px;
  top:22px;
  width:1286px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2553_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:193px;
  height:23px;
}
#u2553 {
  position:absolute;
  left:202px;
  top:73px;
  width:188px;
  height:18px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#999999;
  text-align:left;
}
#u2553_img.selected {
}
#u2553.selected {
}
#u2554 {
  position:absolute;
  left:10px;
  top:0px;
  width:176px;
  word-wrap:break-word;
}
#u2555 {
  position:absolute;
  left:181px;
  top:50px;
  width:2px;
  height:801px;
  overflow:hidden;
}
#u2555_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:801px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-color:rgba(228, 228, 228, 1);
  background-image:none;
}
#u2555_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u2556_img {
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:1032px;
}
#u2556 {
  position:absolute;
  left:2px;
  top:49px;
  width:180px;
  height:1031px;
}
#u2557 {
  position:absolute;
  left:2px;
  top:508px;
  width:176px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2558 {
  position:absolute;
  left:2px;
  top:0px;
  width:1471px;
  height:51px;
  overflow:hidden;
}
#u2558_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:1471px;
  height:51px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-color:rgba(70, 76, 91, 0.898039215686275);
  background-image:none;
}
#u2558_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u2558_state1 {
  position:absolute;
  left:0px;
  top:0px;
  width:1471px;
  height:51px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-color:rgba(52, 152, 219, 1);
  background-image:none;
}
#u2558_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u2558_state2 {
  position:absolute;
  left:0px;
  top:0px;
  width:1471px;
  height:51px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-color:rgba(237, 110, 77, 1);
  background-image:none;
}
#u2558_state2_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u2558_state3 {
  position:absolute;
  left:0px;
  top:0px;
  width:1471px;
  height:51px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-color:rgba(250, 187, 61, 1);
  background-image:none;
}
#u2558_state3_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u2558_state4 {
  position:absolute;
  left:0px;
  top:0px;
  width:1471px;
  height:51px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-color:rgba(170, 122, 179, 1);
  background-image:none;
}
#u2558_state4_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u2558_state5 {
  position:absolute;
  left:0px;
  top:0px;
  width:1471px;
  height:51px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-color:rgba(154, 208, 185, 1);
  background-image:none;
}
#u2558_state5_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u2558_state6 {
  position:absolute;
  left:0px;
  top:0px;
  width:1471px;
  height:51px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-color:rgba(234, 148, 190, 1);
  background-image:none;
}
#u2558_state6_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u2558_state7 {
  position:absolute;
  left:0px;
  top:0px;
  width:1471px;
  height:51px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-color:rgba(193, 55, 74, 1);
  background-image:none;
}
#u2558_state7_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u2559 {
  position:absolute;
  left:2px;
  top:48px;
  width:1367px;
  height:3px;
  overflow:hidden;
}
#u2559_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:1367px;
  height:3px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-color:rgba(0, 0, 0, 0.2);
  background-image:none;
}
#u2559_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u2560_img {
  position:absolute;
  left:0px;
  top:0px;
  width:162px;
  height:49px;
}
#u2560 {
  position:absolute;
  left:20px;
  top:0px;
  width:161px;
  height:48px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
  text-align:left;
  line-height:28px;
}
#u2560_img.selected {
}
#u2560.selected {
}
#u2561 {
  position:absolute;
  left:0px;
  top:10px;
  width:161px;
  word-wrap:break-word;
}
#u2562 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2563_img {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:31px;
}
#u2563 {
  position:absolute;
  left:12px;
  top:66px;
  width:160px;
  height:30px;
  font-size:12px;
  color:#999999;
  text-align:left;
}
#u2564 {
  position:absolute;
  left:30px;
  top:8px;
  width:130px;
  word-wrap:break-word;
}
#u2565_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u2565 {
  position:absolute;
  left:20px;
  top:74px;
  width:14px;
  height:14px;
  font-size:12px;
  color:#666666;
}
#u2565_img.mouseOver {
}
#u2565.mouseOver {
}
#u2566 {
  position:absolute;
  left:2px;
  top:-1px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2567 {
  position:absolute;
  left:181px;
  top:109px;
  width:1292px;
  height:2px;
  overflow:hidden;
}
#u2567_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:1292px;
  height:2px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-color:rgba(228, 228, 228, 1);
  background-image:none;
}
#u2567_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u2568_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:903px;
}
#u2568 {
  position:absolute;
  left:181px;
  top:50px;
  width:1px;
  height:902px;
}
#u2569 {
  position:absolute;
  left:2px;
  top:443px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2570 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2571_img {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:50px;
}
#u2571 {
  position:absolute;
  left:454px;
  top:0px;
  width:88px;
  height:49px;
  font-family:'微软雅黑';
  font-weight:407;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u2571_img.mouseOver {
}
#u2571.mouseOver {
}
#u2571_img.selected {
}
#u2571.selected {
}
#u2572 {
  position:absolute;
  left:2px;
  top:16px;
  width:84px;
  word-wrap:break-word;
}
#u2573_img {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:50px;
}
#u2573 {
  position:absolute;
  left:366px;
  top:0px;
  width:88px;
  height:49px;
  font-family:'微软雅黑';
  font-weight:407;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u2573_img.mouseOver {
}
#u2573.mouseOver {
}
#u2573_img.selected {
}
#u2573.selected {
}
#u2574 {
  position:absolute;
  left:2px;
  top:16px;
  width:84px;
  word-wrap:break-word;
}
#u2575_img {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:50px;
}
#u2575 {
  position:absolute;
  left:279px;
  top:0px;
  width:88px;
  height:49px;
  font-family:'微软雅黑';
  font-weight:407;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u2575_img.mouseOver {
}
#u2575.mouseOver {
}
#u2575_img.selected {
}
#u2575.selected {
}
#u2576 {
  position:absolute;
  left:2px;
  top:16px;
  width:84px;
  word-wrap:break-word;
}
#u2577 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2578_img {
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:43px;
}
#u2578 {
  position:absolute;
  left:1px;
  top:122px;
  width:180px;
  height:42px;
  color:#353535;
  text-align:left;
}
#u2578_img.mouseOver {
}
#u2578.mouseOver {
}
#u2578_img.selected {
}
#u2578.selected {
}
#u2579 {
  position:absolute;
  left:48px;
  top:14px;
  width:132px;
  word-wrap:break-word;
}
#u2580_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:15px;
}
#u2580 {
  position:absolute;
  left:19px;
  top:137px;
  width:9px;
  height:14px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u2580_img.mouseOver {
}
#u2580.mouseOver {
}
#u2580_img.selected {
}
#u2580.selected {
}
#u2581 {
  position:absolute;
  left:2px;
  top:-1px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2582 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2583_img {
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:43px;
}
#u2583 {
  position:absolute;
  left:1px;
  top:164px;
  width:180px;
  height:42px;
  color:#353535;
  text-align:left;
}
#u2583_img.selected {
}
#u2583.selected {
}
#u2584 {
  position:absolute;
  left:48px;
  top:14px;
  width:132px;
  word-wrap:break-word;
}
#u2585_img {
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  height:9px;
}
#u2585 {
  position:absolute;
  left:160px;
  top:183px;
  width:10px;
  height:8px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u2586 {
  position:absolute;
  left:2px;
  top:-4px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2587_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:15px;
}
#u2587 {
  position:absolute;
  left:19px;
  top:179px;
  width:9px;
  height:14px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u2587_img.mouseOver {
}
#u2587.mouseOver {
}
#u2587_img.selected {
}
#u2587.selected {
}
#u2588 {
  position:absolute;
  left:2px;
  top:-1px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2589_img {
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:43px;
}
#u2589 {
  position:absolute;
  left:1px;
  top:208px;
  width:180px;
  height:42px;
  color:#353535;
  text-align:left;
}
#u2589_img.mouseOver {
}
#u2589.mouseOver {
}
#u2589_img.selected {
}
#u2589.selected {
}
#u2590 {
  position:absolute;
  left:48px;
  top:14px;
  width:132px;
  word-wrap:break-word;
}
#u2591_img {
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:43px;
}
#u2591 {
  position:absolute;
  left:1px;
  top:249px;
  width:180px;
  height:42px;
  color:#353535;
  text-align:left;
}
#u2591_img.mouseOver {
}
#u2591.mouseOver {
}
#u2591_img.selected {
}
#u2591.selected {
}
#u2592 {
  position:absolute;
  left:48px;
  top:14px;
  width:132px;
  word-wrap:break-word;
}
#u2593 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2594_img {
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:43px;
}
#u2594 {
  position:absolute;
  left:1px;
  top:293px;
  width:180px;
  height:42px;
  color:#353535;
  text-align:left;
}
#u2594_img.selected {
}
#u2594.selected {
}
#u2595 {
  position:absolute;
  left:48px;
  top:14px;
  width:132px;
  word-wrap:break-word;
}
#u2596_img {
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  height:9px;
}
#u2596 {
  position:absolute;
  left:160px;
  top:312px;
  width:10px;
  height:8px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u2597 {
  position:absolute;
  left:2px;
  top:-4px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2598_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:15px;
}
#u2598 {
  position:absolute;
  left:19px;
  top:308px;
  width:9px;
  height:14px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u2598_img.mouseOver {
}
#u2598.mouseOver {
}
#u2598_img.selected {
}
#u2598.selected {
}
#u2599 {
  position:absolute;
  left:2px;
  top:-1px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2600_img {
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:43px;
}
#u2600 {
  position:absolute;
  left:1px;
  top:337px;
  width:180px;
  height:42px;
  color:#353535;
  text-align:left;
}
#u2600_img.mouseOver {
}
#u2600.mouseOver {
}
#u2600_img.selected {
}
#u2600.selected {
}
#u2601 {
  position:absolute;
  left:48px;
  top:14px;
  width:132px;
  word-wrap:break-word;
}
#u2602_img {
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:43px;
}
#u2602 {
  position:absolute;
  left:1px;
  top:378px;
  width:180px;
  height:42px;
  color:#353535;
  text-align:left;
}
#u2602_img.mouseOver {
}
#u2602.mouseOver {
}
#u2602_img.selected {
}
#u2602.selected {
}
#u2603 {
  position:absolute;
  left:48px;
  top:14px;
  width:132px;
  word-wrap:break-word;
}
#u2604_img {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:50px;
}
#u2604 {
  position:absolute;
  left:196px;
  top:0px;
  width:88px;
  height:49px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#0033CC;
}
#u2604_img.mouseOver {
}
#u2604.mouseOver {
}
#u2604_img.selected {
}
#u2604.selected {
}
#u2605 {
  position:absolute;
  left:2px;
  top:16px;
  width:84px;
  word-wrap:break-word;
}
#u2606_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:17px;
}
#u2606 {
  position:absolute;
  left:1353px;
  top:17px;
  width:49px;
  height:16px;
  font-family:'微软雅黑';
  font-weight:407;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
  text-align:center;
}
#u2607 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u2608_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1292px;
  height:972px;
}
#u2608 {
  position:absolute;
  left:182px;
  top:109px;
  width:1291px;
  height:971px;
}
#u2609 {
  position:absolute;
  left:2px;
  top:478px;
  width:1287px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2610_img {
  position:absolute;
  left:0px;
  top:0px;
  width:253px;
  height:138px;
}
#u2610 {
  position:absolute;
  left:202px;
  top:101px;
  width:252px;
  height:137px;
}
#u2611 {
  position:absolute;
  left:2px;
  top:60px;
  width:248px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2612_img {
  position:absolute;
  left:0px;
  top:0px;
  width:253px;
  height:138px;
}
#u2612 {
  position:absolute;
  left:611px;
  top:101px;
  width:252px;
  height:137px;
}
#u2613 {
  position:absolute;
  left:2px;
  top:60px;
  width:248px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2614_img {
  position:absolute;
  left:0px;
  top:0px;
  width:253px;
  height:138px;
}
#u2614 {
  position:absolute;
  left:1062px;
  top:101px;
  width:252px;
  height:137px;
}
#u2615 {
  position:absolute;
  left:2px;
  top:60px;
  width:248px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2616_img {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:38px;
}
#u2616 {
  position:absolute;
  left:294px;
  top:114px;
  width:129px;
  height:37px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u2617 {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  white-space:nowrap;
}
#u2618_img {
  position:absolute;
  left:0px;
  top:0px;
  width:194px;
  height:38px;
}
#u2618 {
  position:absolute;
  left:666px;
  top:114px;
  width:193px;
  height:37px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u2619 {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  white-space:nowrap;
}
#u2620_img {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:38px;
}
#u2620 {
  position:absolute;
  left:1133px;
  top:114px;
  width:129px;
  height:37px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u2621 {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  white-space:nowrap;
}
#u2622_img {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:42px;
}
#u2622 {
  position:absolute;
  left:268px;
  top:167px;
  width:118px;
  height:41px;
  font-size:36px;
}
#u2623 {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  white-space:nowrap;
}
#u2624_img {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:42px;
}
#u2624 {
  position:absolute;
  left:703px;
  top:167px;
  width:78px;
  height:41px;
  font-size:36px;
}
#u2625 {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  white-space:nowrap;
}
#u2626_img {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:42px;
}
#u2626 {
  position:absolute;
  left:1139px;
  top:167px;
  width:107px;
  height:41px;
  font-size:36px;
}
#u2627 {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  white-space:nowrap;
}
#u2628_img {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:38px;
}
#u2628 {
  position:absolute;
  left:248px;
  top:109px;
  width:36px;
  height:37px;
}
#u2629 {
  position:absolute;
  left:2px;
  top:10px;
  width:32px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2630_img {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:38px;
}
#u2630 {
  position:absolute;
  left:620px;
  top:114px;
  width:40px;
  height:37px;
}
#u2631 {
  position:absolute;
  left:2px;
  top:10px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2632_img {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:38px;
}
#u2632 {
  position:absolute;
  left:1080px;
  top:114px;
  width:43px;
  height:37px;
}
#u2633 {
  position:absolute;
  left:2px;
  top:10px;
  width:39px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2634_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1120px;
  height:386px;
}
#u2634 {
  position:absolute;
  left:202px;
  top:273px;
  width:1119px;
  height:385px;
}
#u2635 {
  position:absolute;
  left:2px;
  top:184px;
  width:1115px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2636_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:38px;
}
#u2636 {
  position:absolute;
  left:238px;
  top:293px;
  width:65px;
  height:37px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u2637 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u2638_img {
  position:absolute;
  left:0px;
  top:0px;
  width:725px;
  height:171px;
}
#u2638 {
  position:absolute;
  left:233px;
  top:389px;
  width:724px;
  height:170px;
}
#u2639 {
  position:absolute;
  left:2px;
  top:77px;
  width:720px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2640_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1120px;
  height:356px;
}
#u2640 {
  position:absolute;
  left:202px;
  top:707px;
  width:1119px;
  height:355px;
}
#u2641 {
  position:absolute;
  left:2px;
  top:170px;
  width:1115px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2642_img {
  position:absolute;
  left:0px;
  top:0px;
  width:725px;
  height:200px;
}
#u2642 {
  position:absolute;
  left:233px;
  top:792px;
  width:724px;
  height:199px;
}
#u2643 {
  position:absolute;
  left:2px;
  top:92px;
  width:720px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2644_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:38px;
}
#u2644 {
  position:absolute;
  left:233px;
  top:728px;
  width:65px;
  height:37px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u2645 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
