body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1469px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u870 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u871_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1291px;
  height:61px;
}
#u871 {
  position:absolute;
  left:180px;
  top:50px;
  width:1290px;
  height:60px;
}
#u872 {
  position:absolute;
  left:2px;
  top:22px;
  width:1286px;
  visibility:hidden;
  word-wrap:break-word;
}
#u873 {
  position:absolute;
  left:179px;
  top:50px;
  width:2px;
  height:801px;
  overflow:hidden;
}
#u873_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:801px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-color:rgba(228, 228, 228, 1);
  background-image:none;
}
#u873_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u874_img {
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:1032px;
}
#u874 {
  position:absolute;
  left:0px;
  top:49px;
  width:180px;
  height:1031px;
}
#u875 {
  position:absolute;
  left:2px;
  top:508px;
  width:176px;
  visibility:hidden;
  word-wrap:break-word;
}
#u876 {
  position:absolute;
  left:0px;
  top:0px;
  width:1471px;
  height:51px;
  overflow:hidden;
}
#u876_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:1471px;
  height:51px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-color:rgba(70, 76, 91, 0.898039215686275);
  background-image:none;
}
#u876_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u876_state1 {
  position:absolute;
  left:0px;
  top:0px;
  width:1471px;
  height:51px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-color:rgba(52, 152, 219, 1);
  background-image:none;
}
#u876_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u876_state2 {
  position:absolute;
  left:0px;
  top:0px;
  width:1471px;
  height:51px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-color:rgba(237, 110, 77, 1);
  background-image:none;
}
#u876_state2_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u876_state3 {
  position:absolute;
  left:0px;
  top:0px;
  width:1471px;
  height:51px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-color:rgba(250, 187, 61, 1);
  background-image:none;
}
#u876_state3_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u876_state4 {
  position:absolute;
  left:0px;
  top:0px;
  width:1471px;
  height:51px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-color:rgba(170, 122, 179, 1);
  background-image:none;
}
#u876_state4_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u876_state5 {
  position:absolute;
  left:0px;
  top:0px;
  width:1471px;
  height:51px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-color:rgba(154, 208, 185, 1);
  background-image:none;
}
#u876_state5_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u876_state6 {
  position:absolute;
  left:0px;
  top:0px;
  width:1471px;
  height:51px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-color:rgba(234, 148, 190, 1);
  background-image:none;
}
#u876_state6_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u876_state7 {
  position:absolute;
  left:0px;
  top:0px;
  width:1471px;
  height:51px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-color:rgba(193, 55, 74, 1);
  background-image:none;
}
#u876_state7_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u877 {
  position:absolute;
  left:0px;
  top:48px;
  width:1367px;
  height:3px;
  overflow:hidden;
}
#u877_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:1367px;
  height:3px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-color:rgba(0, 0, 0, 0.2);
  background-image:none;
}
#u877_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u878_img {
  position:absolute;
  left:0px;
  top:0px;
  width:162px;
  height:49px;
}
#u878 {
  position:absolute;
  left:18px;
  top:0px;
  width:161px;
  height:48px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
  text-align:left;
  line-height:28px;
}
#u878_img.selected {
}
#u878.selected {
}
#u879 {
  position:absolute;
  left:0px;
  top:10px;
  width:161px;
  word-wrap:break-word;
}
#u880 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u881_img {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:31px;
}
#u881 {
  position:absolute;
  left:10px;
  top:66px;
  width:160px;
  height:30px;
  font-size:12px;
  color:#999999;
  text-align:left;
}
#u882 {
  position:absolute;
  left:30px;
  top:8px;
  width:130px;
  word-wrap:break-word;
}
#u883_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u883 {
  position:absolute;
  left:18px;
  top:74px;
  width:14px;
  height:14px;
  font-size:12px;
  color:#666666;
}
#u883_img.mouseOver {
}
#u883.mouseOver {
}
#u884 {
  position:absolute;
  left:2px;
  top:-1px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
#u885 {
  position:absolute;
  left:179px;
  top:109px;
  width:1292px;
  height:2px;
  overflow:hidden;
}
#u885_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:1292px;
  height:2px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-color:rgba(228, 228, 228, 1);
  background-image:none;
}
#u885_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u886_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:903px;
}
#u886 {
  position:absolute;
  left:179px;
  top:50px;
  width:1px;
  height:902px;
}
#u887 {
  position:absolute;
  left:2px;
  top:443px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u888 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u889_img {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:50px;
}
#u889 {
  position:absolute;
  left:452px;
  top:0px;
  width:88px;
  height:49px;
  font-family:'微软雅黑';
  font-weight:407;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u889_img.mouseOver {
}
#u889.mouseOver {
}
#u889_img.selected {
}
#u889.selected {
}
#u890 {
  position:absolute;
  left:2px;
  top:16px;
  width:84px;
  word-wrap:break-word;
}
#u891_img {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:50px;
}
#u891 {
  position:absolute;
  left:364px;
  top:0px;
  width:88px;
  height:49px;
  font-family:'微软雅黑';
  font-weight:407;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u891_img.mouseOver {
}
#u891.mouseOver {
}
#u891_img.selected {
}
#u891.selected {
}
#u892 {
  position:absolute;
  left:2px;
  top:16px;
  width:84px;
  word-wrap:break-word;
}
#u893_img {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:50px;
}
#u893 {
  position:absolute;
  left:277px;
  top:0px;
  width:88px;
  height:49px;
  font-family:'微软雅黑';
  font-weight:407;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u893_img.mouseOver {
}
#u893.mouseOver {
}
#u893_img.selected {
}
#u893.selected {
}
#u894 {
  position:absolute;
  left:2px;
  top:16px;
  width:84px;
  word-wrap:break-word;
}
#u895 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u896_img {
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:43px;
}
#u896 {
  position:absolute;
  left:-1px;
  top:122px;
  width:180px;
  height:42px;
  color:#353535;
  text-align:left;
}
#u896_img.mouseOver {
}
#u896.mouseOver {
}
#u896_img.selected {
}
#u896.selected {
}
#u897 {
  position:absolute;
  left:48px;
  top:14px;
  width:132px;
  word-wrap:break-word;
}
#u898_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:15px;
}
#u898 {
  position:absolute;
  left:17px;
  top:137px;
  width:9px;
  height:14px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u898_img.mouseOver {
}
#u898.mouseOver {
}
#u898_img.selected {
}
#u898.selected {
}
#u899 {
  position:absolute;
  left:2px;
  top:-1px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u900 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u901_img {
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:43px;
}
#u901 {
  position:absolute;
  left:0px;
  top:206px;
  width:180px;
  height:42px;
  color:#353535;
  text-align:left;
}
#u901_img.mouseOver {
}
#u901.mouseOver {
}
#u901_img.selected {
}
#u901.selected {
}
#u902 {
  position:absolute;
  left:48px;
  top:14px;
  width:132px;
  word-wrap:break-word;
}
#u903_img {
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  height:9px;
}
#u903 {
  position:absolute;
  left:159px;
  top:225px;
  width:10px;
  height:8px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u904 {
  position:absolute;
  left:2px;
  top:-4px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u905_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:15px;
}
#u905 {
  position:absolute;
  left:18px;
  top:221px;
  width:9px;
  height:14px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u905_img.mouseOver {
}
#u905.mouseOver {
}
#u905_img.selected {
}
#u905.selected {
}
#u906 {
  position:absolute;
  left:2px;
  top:-1px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u907_img {
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:43px;
}
#u907 {
  position:absolute;
  left:0px;
  top:250px;
  width:180px;
  height:42px;
  color:#353535;
  text-align:left;
}
#u907_img.mouseOver {
}
#u907.mouseOver {
}
#u907_img.selected {
}
#u907.selected {
}
#u908 {
  position:absolute;
  left:48px;
  top:14px;
  width:132px;
  word-wrap:break-word;
}
#u909_img {
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:43px;
}
#u909 {
  position:absolute;
  left:0px;
  top:291px;
  width:180px;
  height:42px;
  color:#353535;
  text-align:left;
}
#u909_img.mouseOver {
}
#u909.mouseOver {
}
#u909_img.selected {
}
#u909.selected {
}
#u910 {
  position:absolute;
  left:48px;
  top:14px;
  width:132px;
  word-wrap:break-word;
}
#u911_img {
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  height:9px;
}
#u911 {
  position:absolute;
  left:160px;
  top:139px;
  width:10px;
  height:8px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u912 {
  position:absolute;
  left:2px;
  top:-4px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u913 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u914_img {
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:43px;
}
#u914 {
  position:absolute;
  left:0px;
  top:335px;
  width:180px;
  height:42px;
  color:#353535;
  text-align:left;
}
#u914_img.mouseOver {
}
#u914.mouseOver {
}
#u914_img.selected {
}
#u914.selected {
}
#u915 {
  position:absolute;
  left:48px;
  top:14px;
  width:132px;
  word-wrap:break-word;
}
#u916_img {
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  height:9px;
}
#u916 {
  position:absolute;
  left:159px;
  top:354px;
  width:10px;
  height:8px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u917 {
  position:absolute;
  left:2px;
  top:-4px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u918_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:15px;
}
#u918 {
  position:absolute;
  left:18px;
  top:350px;
  width:9px;
  height:14px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u918_img.mouseOver {
}
#u918.mouseOver {
}
#u918_img.selected {
}
#u918.selected {
}
#u919 {
  position:absolute;
  left:2px;
  top:-1px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u920_img {
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:43px;
}
#u920 {
  position:absolute;
  left:0px;
  top:379px;
  width:180px;
  height:42px;
  color:#353535;
  text-align:left;
}
#u920_img.mouseOver {
}
#u920.mouseOver {
}
#u920_img.selected {
}
#u920.selected {
}
#u921 {
  position:absolute;
  left:48px;
  top:14px;
  width:132px;
  word-wrap:break-word;
}
#u922_img {
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:43px;
}
#u922 {
  position:absolute;
  left:0px;
  top:420px;
  width:180px;
  height:42px;
  color:#353535;
  text-align:left;
}
#u922_img.mouseOver {
}
#u922.mouseOver {
}
#u922_img.selected {
}
#u922.selected {
}
#u923 {
  position:absolute;
  left:48px;
  top:14px;
  width:132px;
  word-wrap:break-word;
}
#u924_img {
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:43px;
}
#u924 {
  position:absolute;
  left:0px;
  top:164px;
  width:180px;
  height:42px;
  color:#353535;
  text-align:left;
}
#u924_img.mouseOver {
}
#u924.mouseOver {
}
#u924_img.selected {
}
#u924.selected {
}
#u925 {
  position:absolute;
  left:48px;
  top:14px;
  width:132px;
  word-wrap:break-word;
}
#u926_img {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:50px;
}
#u926 {
  position:absolute;
  left:195px;
  top:-1px;
  width:88px;
  height:49px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#0033CC;
}
#u926_img.mouseOver {
}
#u926.mouseOver {
}
#u926_img.selected {
}
#u926.selected {
}
#u927 {
  position:absolute;
  left:2px;
  top:16px;
  width:84px;
  word-wrap:break-word;
}
#u928_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:17px;
}
#u928 {
  position:absolute;
  left:1351px;
  top:17px;
  width:49px;
  height:16px;
  font-family:'微软雅黑';
  font-weight:407;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
  text-align:center;
}
#u929 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u930_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:193px;
  height:23px;
}
#u930 {
  position:absolute;
  left:210px;
  top:70px;
  width:188px;
  height:18px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#999999;
  text-align:left;
}
#u930_img.selected {
}
#u930.selected {
}
#u931 {
  position:absolute;
  left:10px;
  top:0px;
  width:176px;
  word-wrap:break-word;
}
#u932 {
  position:absolute;
  left:221px;
  top:110px;
  width:1254px;
  height:754px;
}
#u933_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:46px;
}
#u933 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:45px;
  font-family:'FontAwesome Regular', 'FontAwesome';
  font-weight:405;
  font-style:normal;
  font-size:16px;
  color:#999999;
  text-align:center;
}
#u934 {
  position:absolute;
  left:2px;
  top:14px;
  width:53px;
  visibility:hidden;
  word-wrap:break-word;
}
#u935_img {
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  height:46px;
}
#u935 {
  position:absolute;
  left:57px;
  top:0px;
  width:131px;
  height:45px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#666666;
  text-align:center;
}
#u936 {
  position:absolute;
  left:2px;
  top:13px;
  width:127px;
  word-wrap:break-word;
}
#u937_img {
  position:absolute;
  left:0px;
  top:0px;
  width:238px;
  height:46px;
}
#u937 {
  position:absolute;
  left:188px;
  top:0px;
  width:237px;
  height:45px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#666666;
  text-align:center;
}
#u938 {
  position:absolute;
  left:2px;
  top:13px;
  width:233px;
  word-wrap:break-word;
}
#u939_img {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:46px;
}
#u939 {
  position:absolute;
  left:425px;
  top:0px;
  width:375px;
  height:45px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#666666;
  text-align:center;
}
#u940 {
  position:absolute;
  left:2px;
  top:13px;
  width:371px;
  word-wrap:break-word;
}
#u941_img {
  position:absolute;
  left:0px;
  top:0px;
  width:450px;
  height:46px;
}
#u941 {
  position:absolute;
  left:800px;
  top:0px;
  width:449px;
  height:45px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#666666;
  text-align:center;
}
#u942 {
  position:absolute;
  left:2px;
  top:13px;
  width:445px;
  word-wrap:break-word;
}
#u943_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:89px;
}
#u943 {
  position:absolute;
  left:0px;
  top:45px;
  width:57px;
  height:88px;
  font-family:'FontAwesome Regular', 'FontAwesome';
  font-weight:405;
  font-style:normal;
  font-size:16px;
  color:#999999;
  text-align:center;
  line-height:28px;
}
#u944 {
  position:absolute;
  left:2px;
  top:30px;
  width:53px;
  word-wrap:break-word;
}
#u945_img {
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  height:89px;
}
#u945 {
  position:absolute;
  left:57px;
  top:45px;
  width:131px;
  height:88px;
  font-family:'FontAwesome Regular', 'FontAwesome';
  font-weight:405;
  font-style:normal;
  font-size:62px;
  color:#CCCCCC;
  line-height:28px;
}
#u946 {
  position:absolute;
  left:2px;
  top:36px;
  width:127px;
  visibility:hidden;
  word-wrap:break-word;
}
#u947_img {
  position:absolute;
  left:0px;
  top:0px;
  width:238px;
  height:89px;
}
#u947 {
  position:absolute;
  left:188px;
  top:45px;
  width:237px;
  height:88px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  line-height:28px;
}
#u948 {
  position:absolute;
  left:2px;
  top:30px;
  width:233px;
  word-wrap:break-word;
}
#u949_img {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:89px;
}
#u949 {
  position:absolute;
  left:425px;
  top:45px;
  width:375px;
  height:88px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
  line-height:28px;
}
#u950 {
  position:absolute;
  left:2px;
  top:30px;
  width:371px;
  word-wrap:break-word;
}
#u951_img {
  position:absolute;
  left:0px;
  top:0px;
  width:450px;
  height:89px;
}
#u951 {
  position:absolute;
  left:800px;
  top:45px;
  width:449px;
  height:88px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  line-height:28px;
}
#u952 {
  position:absolute;
  left:2px;
  top:30px;
  width:445px;
  word-wrap:break-word;
}
#u953_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:89px;
}
#u953 {
  position:absolute;
  left:0px;
  top:133px;
  width:57px;
  height:88px;
  font-family:'FontAwesome Regular', 'FontAwesome';
  font-weight:405;
  font-style:normal;
  font-size:16px;
  color:#999999;
  text-align:center;
  line-height:28px;
}
#u954 {
  position:absolute;
  left:2px;
  top:30px;
  width:53px;
  word-wrap:break-word;
}
#u955_img {
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  height:89px;
}
#u955 {
  position:absolute;
  left:57px;
  top:133px;
  width:131px;
  height:88px;
  font-family:'FontAwesome Regular', 'FontAwesome';
  font-weight:405;
  font-style:normal;
  font-size:62px;
  color:#CCCCCC;
  line-height:28px;
}
#u956 {
  position:absolute;
  left:2px;
  top:36px;
  width:127px;
  visibility:hidden;
  word-wrap:break-word;
}
#u957_img {
  position:absolute;
  left:0px;
  top:0px;
  width:238px;
  height:89px;
}
#u957 {
  position:absolute;
  left:188px;
  top:133px;
  width:237px;
  height:88px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  line-height:28px;
}
#u958 {
  position:absolute;
  left:2px;
  top:30px;
  width:233px;
  word-wrap:break-word;
}
#u959_img {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:89px;
}
#u959 {
  position:absolute;
  left:425px;
  top:133px;
  width:375px;
  height:88px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
  line-height:28px;
}
#u960 {
  position:absolute;
  left:2px;
  top:30px;
  width:371px;
  word-wrap:break-word;
}
#u961_img {
  position:absolute;
  left:0px;
  top:0px;
  width:450px;
  height:89px;
}
#u961 {
  position:absolute;
  left:800px;
  top:133px;
  width:449px;
  height:88px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  line-height:28px;
}
#u962 {
  position:absolute;
  left:2px;
  top:30px;
  width:445px;
  word-wrap:break-word;
}
#u963_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:89px;
}
#u963 {
  position:absolute;
  left:0px;
  top:221px;
  width:57px;
  height:88px;
  font-family:'FontAwesome Regular', 'FontAwesome';
  font-weight:405;
  font-style:normal;
  font-size:16px;
  color:#999999;
  text-align:center;
  line-height:28px;
}
#u964 {
  position:absolute;
  left:2px;
  top:30px;
  width:53px;
  word-wrap:break-word;
}
#u965_img {
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  height:89px;
}
#u965 {
  position:absolute;
  left:57px;
  top:221px;
  width:131px;
  height:88px;
  font-family:'FontAwesome Regular', 'FontAwesome';
  font-weight:405;
  font-style:normal;
  font-size:62px;
  color:#CCCCCC;
  line-height:28px;
}
#u966 {
  position:absolute;
  left:2px;
  top:36px;
  width:127px;
  visibility:hidden;
  word-wrap:break-word;
}
#u967_img {
  position:absolute;
  left:0px;
  top:0px;
  width:238px;
  height:89px;
}
#u967 {
  position:absolute;
  left:188px;
  top:221px;
  width:237px;
  height:88px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  line-height:28px;
}
#u968 {
  position:absolute;
  left:2px;
  top:30px;
  width:233px;
  word-wrap:break-word;
}
#u969_img {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:89px;
}
#u969 {
  position:absolute;
  left:425px;
  top:221px;
  width:375px;
  height:88px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
  line-height:28px;
}
#u970 {
  position:absolute;
  left:2px;
  top:30px;
  width:371px;
  word-wrap:break-word;
}
#u971_img {
  position:absolute;
  left:0px;
  top:0px;
  width:450px;
  height:89px;
}
#u971 {
  position:absolute;
  left:800px;
  top:221px;
  width:449px;
  height:88px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  line-height:28px;
}
#u972 {
  position:absolute;
  left:2px;
  top:30px;
  width:445px;
  word-wrap:break-word;
}
#u973_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:89px;
}
#u973 {
  position:absolute;
  left:0px;
  top:309px;
  width:57px;
  height:88px;
  font-family:'FontAwesome Regular', 'FontAwesome';
  font-weight:405;
  font-style:normal;
  font-size:16px;
  color:#999999;
  text-align:center;
  line-height:28px;
}
#u974 {
  position:absolute;
  left:2px;
  top:30px;
  width:53px;
  word-wrap:break-word;
}
#u975_img {
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  height:89px;
}
#u975 {
  position:absolute;
  left:57px;
  top:309px;
  width:131px;
  height:88px;
  font-family:'FontAwesome Regular', 'FontAwesome';
  font-weight:405;
  font-style:normal;
  font-size:62px;
  color:#CCCCCC;
  line-height:28px;
}
#u976 {
  position:absolute;
  left:2px;
  top:36px;
  width:127px;
  visibility:hidden;
  word-wrap:break-word;
}
#u977_img {
  position:absolute;
  left:0px;
  top:0px;
  width:238px;
  height:89px;
}
#u977 {
  position:absolute;
  left:188px;
  top:309px;
  width:237px;
  height:88px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  line-height:28px;
}
#u978 {
  position:absolute;
  left:2px;
  top:30px;
  width:233px;
  word-wrap:break-word;
}
#u979_img {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:89px;
}
#u979 {
  position:absolute;
  left:425px;
  top:309px;
  width:375px;
  height:88px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
  line-height:28px;
}
#u980 {
  position:absolute;
  left:2px;
  top:30px;
  width:371px;
  word-wrap:break-word;
}
#u981_img {
  position:absolute;
  left:0px;
  top:0px;
  width:450px;
  height:89px;
}
#u981 {
  position:absolute;
  left:800px;
  top:309px;
  width:449px;
  height:88px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  line-height:28px;
}
#u982 {
  position:absolute;
  left:2px;
  top:30px;
  width:445px;
  word-wrap:break-word;
}
#u983_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:89px;
}
#u983 {
  position:absolute;
  left:0px;
  top:397px;
  width:57px;
  height:88px;
  font-family:'FontAwesome Regular', 'FontAwesome';
  font-weight:405;
  font-style:normal;
  font-size:16px;
  color:#999999;
  text-align:center;
  line-height:28px;
}
#u984 {
  position:absolute;
  left:2px;
  top:30px;
  width:53px;
  word-wrap:break-word;
}
#u985_img {
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  height:89px;
}
#u985 {
  position:absolute;
  left:57px;
  top:397px;
  width:131px;
  height:88px;
  font-family:'FontAwesome Regular', 'FontAwesome';
  font-weight:405;
  font-style:normal;
  font-size:62px;
  color:#CCCCCC;
  line-height:28px;
}
#u986 {
  position:absolute;
  left:2px;
  top:36px;
  width:127px;
  visibility:hidden;
  word-wrap:break-word;
}
#u987_img {
  position:absolute;
  left:0px;
  top:0px;
  width:238px;
  height:89px;
}
#u987 {
  position:absolute;
  left:188px;
  top:397px;
  width:237px;
  height:88px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  line-height:28px;
}
#u988 {
  position:absolute;
  left:2px;
  top:30px;
  width:233px;
  word-wrap:break-word;
}
#u989_img {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:89px;
}
#u989 {
  position:absolute;
  left:425px;
  top:397px;
  width:375px;
  height:88px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
  line-height:28px;
}
#u990 {
  position:absolute;
  left:2px;
  top:30px;
  width:371px;
  word-wrap:break-word;
}
#u991_img {
  position:absolute;
  left:0px;
  top:0px;
  width:450px;
  height:89px;
}
#u991 {
  position:absolute;
  left:800px;
  top:397px;
  width:449px;
  height:88px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  line-height:28px;
}
#u992 {
  position:absolute;
  left:2px;
  top:30px;
  width:445px;
  word-wrap:break-word;
}
#u993_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:89px;
}
#u993 {
  position:absolute;
  left:0px;
  top:485px;
  width:57px;
  height:88px;
  font-family:'FontAwesome Regular', 'FontAwesome';
  font-weight:405;
  font-style:normal;
  font-size:16px;
  color:#999999;
  text-align:center;
  line-height:28px;
}
#u994 {
  position:absolute;
  left:2px;
  top:30px;
  width:53px;
  word-wrap:break-word;
}
#u995_img {
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  height:89px;
}
#u995 {
  position:absolute;
  left:57px;
  top:485px;
  width:131px;
  height:88px;
  font-family:'FontAwesome Regular', 'FontAwesome';
  font-weight:405;
  font-style:normal;
  font-size:62px;
  color:#CCCCCC;
  line-height:28px;
}
#u996 {
  position:absolute;
  left:2px;
  top:36px;
  width:127px;
  visibility:hidden;
  word-wrap:break-word;
}
#u997_img {
  position:absolute;
  left:0px;
  top:0px;
  width:238px;
  height:89px;
}
#u997 {
  position:absolute;
  left:188px;
  top:485px;
  width:237px;
  height:88px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  line-height:28px;
}
#u998 {
  position:absolute;
  left:2px;
  top:30px;
  width:233px;
  word-wrap:break-word;
}
#u999_img {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:89px;
}
#u999 {
  position:absolute;
  left:425px;
  top:485px;
  width:375px;
  height:88px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
  line-height:28px;
}
#u1000 {
  position:absolute;
  left:2px;
  top:30px;
  width:371px;
  word-wrap:break-word;
}
#u1001_img {
  position:absolute;
  left:0px;
  top:0px;
  width:450px;
  height:89px;
}
#u1001 {
  position:absolute;
  left:800px;
  top:485px;
  width:449px;
  height:88px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  line-height:28px;
}
#u1002 {
  position:absolute;
  left:2px;
  top:30px;
  width:445px;
  word-wrap:break-word;
}
#u1003_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:89px;
}
#u1003 {
  position:absolute;
  left:0px;
  top:573px;
  width:57px;
  height:88px;
  font-family:'FontAwesome Regular', 'FontAwesome';
  font-weight:405;
  font-style:normal;
  font-size:16px;
  color:#999999;
  text-align:center;
  line-height:28px;
}
#u1004 {
  position:absolute;
  left:2px;
  top:30px;
  width:53px;
  word-wrap:break-word;
}
#u1005_img {
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  height:89px;
}
#u1005 {
  position:absolute;
  left:57px;
  top:573px;
  width:131px;
  height:88px;
  font-family:'FontAwesome Regular', 'FontAwesome';
  font-weight:405;
  font-style:normal;
  font-size:62px;
  color:#CCCCCC;
  line-height:28px;
}
#u1006 {
  position:absolute;
  left:2px;
  top:36px;
  width:127px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1007_img {
  position:absolute;
  left:0px;
  top:0px;
  width:238px;
  height:89px;
}
#u1007 {
  position:absolute;
  left:188px;
  top:573px;
  width:237px;
  height:88px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  line-height:28px;
}
#u1008 {
  position:absolute;
  left:2px;
  top:30px;
  width:233px;
  word-wrap:break-word;
}
#u1009_img {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:89px;
}
#u1009 {
  position:absolute;
  left:425px;
  top:573px;
  width:375px;
  height:88px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
  line-height:28px;
}
#u1010 {
  position:absolute;
  left:2px;
  top:30px;
  width:371px;
  word-wrap:break-word;
}
#u1011_img {
  position:absolute;
  left:0px;
  top:0px;
  width:450px;
  height:89px;
}
#u1011 {
  position:absolute;
  left:800px;
  top:573px;
  width:449px;
  height:88px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  line-height:28px;
}
#u1012 {
  position:absolute;
  left:2px;
  top:30px;
  width:445px;
  word-wrap:break-word;
}
#u1013_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:89px;
}
#u1013 {
  position:absolute;
  left:0px;
  top:661px;
  width:57px;
  height:88px;
  font-family:'FontAwesome Regular', 'FontAwesome';
  font-weight:405;
  font-style:normal;
  font-size:16px;
  color:#999999;
  text-align:center;
  line-height:28px;
}
#u1014 {
  position:absolute;
  left:2px;
  top:30px;
  width:53px;
  word-wrap:break-word;
}
#u1015_img {
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  height:89px;
}
#u1015 {
  position:absolute;
  left:57px;
  top:661px;
  width:131px;
  height:88px;
  font-family:'FontAwesome Regular', 'FontAwesome';
  font-weight:405;
  font-style:normal;
  font-size:62px;
  color:#CCCCCC;
  line-height:28px;
}
#u1016 {
  position:absolute;
  left:2px;
  top:36px;
  width:127px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1017_img {
  position:absolute;
  left:0px;
  top:0px;
  width:238px;
  height:89px;
}
#u1017 {
  position:absolute;
  left:188px;
  top:661px;
  width:237px;
  height:88px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  line-height:28px;
}
#u1018 {
  position:absolute;
  left:2px;
  top:30px;
  width:233px;
  word-wrap:break-word;
}
#u1019_img {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:89px;
}
#u1019 {
  position:absolute;
  left:425px;
  top:661px;
  width:375px;
  height:88px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
  line-height:28px;
}
#u1020 {
  position:absolute;
  left:2px;
  top:30px;
  width:371px;
  word-wrap:break-word;
}
#u1021_img {
  position:absolute;
  left:0px;
  top:0px;
  width:450px;
  height:89px;
}
#u1021 {
  position:absolute;
  left:800px;
  top:661px;
  width:449px;
  height:88px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  line-height:28px;
}
#u1022 {
  position:absolute;
  left:2px;
  top:30px;
  width:445px;
  word-wrap:break-word;
}
#u1023 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1024_img {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:26px;
}
#u1024 {
  position:absolute;
  left:882px;
  top:904px;
  width:140px;
  height:25px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u1025 {
  position:absolute;
  left:2px;
  top:4px;
  width:136px;
  word-wrap:break-word;
}
#u1026 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1027_img {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:26px;
}
#u1027 {
  position:absolute;
  left:1021px;
  top:904px;
  width:35px;
  height:25px;
  color:#999999;
}
#u1027_img.mouseOver {
}
#u1027.mouseOver {
}
#u1027_img.selected {
}
#u1027.selected {
}
#u1027_img.disabled {
}
#u1027.disabled {
}
#u1028 {
  position:absolute;
  left:2px;
  top:5px;
  width:31px;
  word-wrap:break-word;
}
#u1029_img {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:26px;
}
#u1029 {
  position:absolute;
  left:1060px;
  top:904px;
  width:35px;
  height:25px;
  color:#999999;
}
#u1029_img.mouseOver {
}
#u1029.mouseOver {
}
#u1029_img.selected {
}
#u1029.selected {
}
#u1029_img.disabled {
}
#u1029.disabled {
}
#u1030 {
  position:absolute;
  left:2px;
  top:5px;
  width:31px;
  word-wrap:break-word;
}
#u1031_img {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:26px;
}
#u1031 {
  position:absolute;
  left:1099px;
  top:904px;
  width:35px;
  height:25px;
  color:#999999;
}
#u1031_img.mouseOver {
}
#u1031.mouseOver {
}
#u1031_img.selected {
}
#u1031.selected {
}
#u1031_img.disabled {
}
#u1031.disabled {
}
#u1032 {
  position:absolute;
  left:2px;
  top:5px;
  width:31px;
  word-wrap:break-word;
}
#u1033_img {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:26px;
}
#u1033 {
  position:absolute;
  left:1139px;
  top:904px;
  width:35px;
  height:25px;
  color:#999999;
}
#u1033_img.mouseOver {
}
#u1033.mouseOver {
}
#u1033_img.selected {
}
#u1033.selected {
}
#u1033_img.disabled {
}
#u1033.disabled {
}
#u1034 {
  position:absolute;
  left:2px;
  top:5px;
  width:31px;
  word-wrap:break-word;
}
#u1035_img {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:26px;
}
#u1035 {
  position:absolute;
  left:1217px;
  top:904px;
  width:35px;
  height:25px;
  color:#999999;
}
#u1035_img.mouseOver {
}
#u1035.mouseOver {
}
#u1035_img.selected {
}
#u1035.selected {
}
#u1035_img.disabled {
}
#u1035.disabled {
}
#u1036 {
  position:absolute;
  left:2px;
  top:5px;
  width:31px;
  word-wrap:break-word;
}
#u1037_img {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:26px;
}
#u1037 {
  position:absolute;
  left:1177px;
  top:904px;
  width:35px;
  height:25px;
  color:#999999;
}
#u1037_img.mouseOver {
}
#u1037.mouseOver {
}
#u1037_img.selected {
}
#u1037.selected {
}
#u1037_img.disabled {
}
#u1037.disabled {
}
#u1038 {
  position:absolute;
  left:2px;
  top:5px;
  width:31px;
  word-wrap:break-word;
}
#u1039_img {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:26px;
}
#u1039 {
  position:absolute;
  left:1256px;
  top:904px;
  width:35px;
  height:25px;
  color:#999999;
}
#u1039_img.mouseOver {
}
#u1039.mouseOver {
}
#u1039_img.selected {
}
#u1039.selected {
}
#u1039_img.disabled {
}
#u1039.disabled {
}
#u1040 {
  position:absolute;
  left:2px;
  top:5px;
  width:31px;
  word-wrap:break-word;
}
#u1041 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1042_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:26px;
}
#u1042 {
  position:absolute;
  left:1301px;
  top:904px;
  width:27px;
  height:25px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#999999;
}
#u1043 {
  position:absolute;
  left:0px;
  top:4px;
  width:27px;
  white-space:nowrap;
}
#u1044_img {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:26px;
}
#u1044 {
  position:absolute;
  left:1340px;
  top:904px;
  width:35px;
  height:25px;
  font-family:'FontAwesome Regular', 'FontAwesome';
  font-weight:400;
  font-style:normal;
  color:#999999;
}
#u1044_img.selected {
}
#u1044.selected {
}
#u1044_img.disabled {
}
#u1044.disabled {
}
#u1045 {
  position:absolute;
  left:2px;
  top:4px;
  width:31px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1046_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:26px;
}
#u1046 {
  position:absolute;
  left:1385px;
  top:904px;
  width:14px;
  height:25px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#999999;
}
#u1047 {
  position:absolute;
  left:0px;
  top:4px;
  width:14px;
  white-space:nowrap;
}
#u1048 {
  position:absolute;
  left:1345px;
  top:907px;
  width:25px;
  height:18px;
}
#u1048_input {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:18px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#999999;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u1049 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1050_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:55px;
}
#u1050 {
  position:absolute;
  left:298px;
  top:179px;
  width:80px;
  height:55px;
}
#u1051 {
  position:absolute;
  left:2px;
  top:20px;
  width:76px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1052_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:55px;
}
#u1052 {
  position:absolute;
  left:298px;
  top:265px;
  width:80px;
  height:55px;
}
#u1053 {
  position:absolute;
  left:2px;
  top:20px;
  width:76px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1054_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:55px;
}
#u1054 {
  position:absolute;
  left:298px;
  top:352px;
  width:80px;
  height:55px;
}
#u1055 {
  position:absolute;
  left:2px;
  top:20px;
  width:76px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1056_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:55px;
}
#u1056 {
  position:absolute;
  left:298px;
  top:439px;
  width:80px;
  height:55px;
}
#u1057 {
  position:absolute;
  left:2px;
  top:20px;
  width:76px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1058_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:55px;
}
#u1058 {
  position:absolute;
  left:298px;
  top:530px;
  width:80px;
  height:55px;
}
#u1059 {
  position:absolute;
  left:2px;
  top:20px;
  width:76px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1060_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:55px;
}
#u1060 {
  position:absolute;
  left:298px;
  top:617px;
  width:80px;
  height:55px;
}
#u1061 {
  position:absolute;
  left:2px;
  top:20px;
  width:76px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1062_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:55px;
}
#u1062 {
  position:absolute;
  left:298px;
  top:708px;
  width:80px;
  height:55px;
}
#u1063 {
  position:absolute;
  left:2px;
  top:20px;
  width:76px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1064_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:55px;
}
#u1064 {
  position:absolute;
  left:298px;
  top:795px;
  width:80px;
  height:55px;
}
#u1065 {
  position:absolute;
  left:2px;
  top:20px;
  width:76px;
  visibility:hidden;
  word-wrap:break-word;
}
